[2017-05-24 20:31] kmather73 opened #1 "Enviroment setup bad link"
The link in Lesson 3 of the Project 1 for the environment setup does not link to the right repo just goes to the github's main page, should link to https://github.com/udacity/RoboND-Python-StarterKit

[2017-05-24 20:32] kmather73 commented on #1
The link just goes to the main github page and not https://github.com/udacity/RoboND-Python-StarterKit

[2017-05-24 20:44] kmather73 commented on #1
Made a mistake,  didn't see the link at the bottom of the page, sorry

[2017-05-24 20:44] #1 closed, assigned to ryan-keenan

[2017-05-24 22:45] karrapk opened #2 "Radio button colors"
Hello, Radio button colors and input text box colors are very close to the background color of Udacity class pages. I am finding it quite a bit difficult to distinguish various fields and their corresponding options in Udacity quizzes. Could you please differentiate the above fields a bit more so it becomes easier? I have tried two monitors and I faced the issue using both. Thanks.

[2017-05-25 03:53] ryan-keenan commented on #2
Thanks for this feedback!  Could you please post a screenshot of an example or two where you're having issues?  I'm not sure exactly what the change requested is.

[2017-05-25 04:16] karrapk commented on #2
Hello,

I am attaching the mobile version of the screen shot here as I am away from
the PC. If you go to the PC version of the attached page, the button where
the student is supposed to make the selection is very feebly visible due to
their color being very similar to the background color the page.

This makes it very difficult to identify the right buttons or boxes where
sometimes data needs to b

[2017-05-25 04:39] ryan-keenan commented on #2
Thanks Prasanth, I don't see any image though...

[2017-05-25 04:46] Chambana opened #3 "Environment setup clarification"
In the first module, there is a section on setting up your environment.  A link in the module refers you to a Udacity guide that instructs you to install anaconda.  Then it refers you to a link that wants you to install miniconda as part of the RoboND env setup (but you just installed Anaconda).  It works just fine, but it could be clearer.

[2017-05-25 05:39] Dulluhan opened #4 "Jupyter still needs plt.show()"
There is a code block in Lesson 1 Project.6.Persepective Transform that has comment saying plt.show() should not be needed in Jupyter, however, in my case it seems that it doesn't show unless I have that. It is the same case if I was to copy the previous section's code to try out on my own computer. It would be helpful to let people know that to view the plt object locally, .show() is needed.

[2017-05-25 05:59] Dulluhan commented on #4
https://puu.sh/w0rjP/a5878a6496.png

[2017-05-25 06:07] Chambana opened #5 "Error in Solution"
I dont think the solution is right for the color thresholding exercise.  When you put values of 0,0,0, it doesn't provide a totally white image as described.  That is because the bitwise AND operation in the thresholding statement uses < and not <=.  Just change those 3 less than's to less-than-or-equal-to and it'll work fine.  The reason is that some pixels in the original image are totally black

[2017-05-25 06:14] Dulluhan opened #6 "cv2 library install"
Using RoboND, cv2 import gets error: ImportError: /opt/ros/kinetic/lib/python2.7/dist-packages/cv2.so: undefined symbol: PyCObject_Type
Unsure if it is a problem because I have kinetic setup locally, but RoboND should account for this?

[2017-05-25 06:20] Dulluhan commented on #6
Seems like its an issue with the path being added by ROS. Solution: https://stackoverflow.com/questions/43019951/after-install-ros-kinetic-cannot-import-opencv
Maybe good to account for this in later stages since ROS will be an integral part of this course

[2017-05-25 09:12] adammalpass opened #7 "Rotation matrix explanation code is wrong"
In section Map to World Coordinates in the Project: Search and Sample Return part there is an error in the rotation matrix code. The image showing how the rotation matrix should be and the formulas are correct. However beneath that the code implemenation is wrong.

It says y_rotated = xpix * np.sin(yaw_rad) + ypix * np.sin(yaw_rad), but it should be:

y_rotated = xpix * np.sin(yaw_rad) + ypix * np

[2017-05-25 09:49] TillScout opened #8 "roversim in non-english locale"
The roversim produces a csv-file that uses "," as delimiter. However this is also the decimal mark in e.g. German. So when reading the csv-file, the values of all float variables are spread across several columns

[2017-05-25 12:17] karrapk commented on #2
I attached a png in the previous email. Not sure if the email client
removed it. Please see the attached jpg. I rounded the radio buttons in
red. Thanks.

On Thu, May 25, 2017 at 12:39 AM, ryan-keenan <notifications@github.com>
wrote:

--
Prashanth Karra

[2017-05-25 13:36] sahiljuneja commented on #2
@karrapk I don't think images attached via email are attached here as well. You might have to attach it separately on github perhaps.

[2017-05-25 16:35] mi7flat5 opened #9 "Simulator crashes when I press enter and am near an objective."

[2017-05-25 17:33] ryan-keenan commented on #8
Great point!  Are you using `pandas` to read the file like in the notebook?  If so I think it should work ok

[2017-05-25 17:40] ryan-keenan commented on #3
Thanks for reporting!  I just added a parenthetical statement to this effect in the lesson

[2017-05-25 17:40] #3 closed, assigned to ryan-keenan

[2017-05-25 17:55] ryan-keenan commented on #4
Thanks for reporting this!  As far as I know plt.show() has no adverse effects even if it's not needed (not sure why some notebooks seem to need it others don't) so I've gone through and deleted the comments saying `# not needed in Jupyter notebook`

[2017-05-25 17:55] #4 closed, assigned to ryan-keenan

[2017-05-25 18:19] ryan-keenan commented on #5
Thanks for pointing this out!  There was definitely an inconsistency in the code comments surrounding the function definition.  I actually intended it to use > instead of >= just because when the image is all 1's it actually renders as all black rather than all white (putting it on a 0 to 255) , which was confusing to some people.  I've cleared up the code comments now.

[2017-05-25 18:19] #5 closed, assigned to ryan-keenan

[2017-05-25 18:21] ryan-keenan commented on #7
Great catch!  fixed now

[2017-05-25 18:21] #7 closed, assigned to ryan-keenan

[2017-05-25 18:24] ryan-keenan commented on #9
Thanks for reporting this... which OS are you on?  and when did you download the Sim player?

[2017-05-25 18:27] mi7flat5 commented on #9
I'm on Windows 10 64-bit, I downloaded the sim about an hour after the course opened.

[2017-05-25 18:38] TillScout commented on #8
I only noticed it when checking out the rover sim. Then I changed my locale, so I can't say how `pandas` behaves.

[2017-05-25 19:49] ryan-keenan commented on #9
Ok, I'll look into this.   I updated the sim with mostly aesthetic changes a few hours after the course opened so you can try the new version and see if there's any change, but I'll follow up and see if I can reproduce the error meanwhile.

[2017-05-25 19:53] ryan-keenan commented on #8
Ok, I think the way the notebook is setup it shouldn't be a problem so I'll close this for now, but feel free to reopen if there is a persistent problem here.

[2017-05-25 19:53] #8 closed, assigned to ryan-keenan

[2017-05-25 19:59] ryan-keenan commented on #9
In beta testing this issue arose and seemed to resolve itself after a restart of the machine and simulator.  Could you try a reboot and see if it helps?

[2017-05-25 20:00] ryan-keenan commented on #1
no worries, this was worded strangely, which I think might have led to confusion so I've reworded it!

[2017-05-25 20:12] mi7flat5 commented on #9
Still crashes. I have the project open in Unity and get a null reference error on line 598 of RoverController.cs when I pick up the item. Unity still goes through the animation in the editor. Looks like curObjective is set to null in line 590, and removal is attempted in 598, perhaps this would explain the crash? Rather trying to access a null objects gameObject would cause the crash.

[2017-05-25 20:12] karrapk commented on #2
![quiz](https://cloud.githubusercontent.com/assets/28937789/26468570/f8a12c96-4164-11e7-94f5-f9dabbcf83c4.JPG)

Screenshot attached.

[2017-05-25 20:16] ryan-keenan commented on #9
Yeah, just playing with this and it looks like a bug.  Left mouse button should work fine for pickup now and I'll upload a fixed version of the sim as soon as I can!

[2017-05-25 20:22] mi7flat5 commented on #9
I just fixed it by moving line 590 to just before the yield statement. I don't know the logic in the if(IsRecording) statement, but seems to run fine now. I dont know if anything called in that conditional relies on that variable being null.

[2017-05-25 20:35] stevekim1357 commented on #6
I am having problem getting matplotimag lib to load to conda python

[2017-05-25 20:43] ryan-keenan commented on #2
Thank you for the image.  I have filed a ticket with our platform team but it will probably not be addressed soon as they have many other issues in their queue.  Sorry for the inconvenience!

[2017-05-25 20:43] #2 closed, assigned to ryan-keenan

[2017-05-25 21:58] Dulluhan commented on #6
Hey, matplotlib worked for me, maybe you want to run $conda install for that package and try again. Use conda instead of pip so conda adds it to the workspace

[2017-05-25 23:07] ryan-keenan commented on #9
This has been fixed now!  Repo updated and new builds on S3

[2017-05-25 23:07] #9 closed, assigned to ryan-keenan

[2017-05-26 11:23] TillScout commented on #8
I now tried it with `pandas` in the notebook. This gave an error, because `pandas`expects `,`as a standard delimiter. On my system the roversim used `;`as delimiter (it was the newer version, maybe you changed something there). So I have the feeling that the sim and the notebook are out of sync in this regard.

[2017-05-26 13:16] stevekim1357 commented on #6
thanks I will try it today Sincerely, Steve W Kim stevekim_1357@yahoo.com 

    On Thursday, May 25, 2017 5:58 PM, Vincent Yuan <notifications@github.com> wrote:

 Hey, matplotlib worked for me, maybe you want to run $conda install for that package and try again. Use conda instead of pip so conda adds it to the workspace—
You are receiving this because you commented.
Reply to this email directly,

[2017-05-26 21:26] stevekim1357 commented on #6
well, I don't know where to turn to, am I suppose to run it on my computer? Sincerely, Steve W Kim stevekim_1357@yahoo.com 

    On Thursday, May 25, 2017 5:58 PM, Vincent Yuan <notifications@github.com> wrote:

 Hey, matplotlib worked for me, maybe you want to run $conda install for that package and try again. Use conda instead of pip so conda adds it to the workspace—
You are receiving this beca

[2017-05-26 22:35] Chambana opened #10 "possible typo on transform module sample code?"
On the transform/warp sample code, the first coordinate is given as [1,0].  Is there any reason that this isn't [0,0], representing the upper left hand corner of the image?

[2017-05-26 22:50] Chambana opened #11 "inconsistent arguments for perspect_transform() between 2 back to back modules"
In the warp/transform module, the perspect_transform() function takes 3 args.  We then import the same function in the next exercise and it now takes 1 arg.  It would be better if these were consistent so that we can modularize our code between exercises (or use a different name for perspect_transform() between exercises to indicate the function changed).

[2017-05-26 23:47] ryan-keenan commented on #11
thank you for pointing out this inconsistency!  Fixed now

[2017-05-26 23:47] #11 closed, assigned to ryan-keenan

[2017-05-26 23:50] ryan-keenan commented on #10
That was indeed a typo!  thanks for catching.  fixed now

[2017-05-26 23:50] #10 closed, assigned to ryan-keenan

[2017-05-27 05:14] Chambana opened #12 "small comment fix"
The comment below "#Perform rotation, translation and clipping all at once"  in the transformation exercise sample code doesn't make sense in this context.  You've already done the rotation and translation in the 2 preceding lines.  The subsequent line only does the clipping.  Perhaps this comment should be at the top of the function itself?

def pix_to_world(xpix, ypix, xpos, ypos, yaw, world_siz

[2017-05-27 05:34] Chambana opened #13 "issue with sample code in "Where to Go?""
2 issues with the sample code in this section:

First, the variable "image" is never defined and the code won't run as-is.
 These 2 lines need to be added to the top of the code:
import matplotlib.image as mpimg
image = mpimg.imread('angle_example.jpg')

Second, the variable "threshed" is never defined as well.  I believe it should be replaced with colorsel.  Or, colorsel should, more likely, be r

[2017-05-27 20:25] ryan-keenan commented on #12
thanks for catching this!  was a leftover code comment from a previous incarnation of this quiz. fixed now

[2017-05-27 20:25] #12 closed, assigned to ryan-keenan

[2017-05-27 20:29] ryan-keenan commented on #13
Great catch!  I've made the suggested changes

[2017-05-27 20:29] #13 closed, assigned to ryan-keenan

[2017-05-27 21:39] Chambana commented on #6
I have ROS Kinetic installed in my native Ubuntu environment.  Per your suggestion, I modified my bashrc and commented out the ROS Path stuff.  The Jupyter Notebook for the Udacity exercise now runs.

For future changes to the exercise/environment down the line, it would be great if the exercises still worked for students that have ROS installed on their machines w/o having to disable ROS path in

[2017-05-28 01:23] Dulluhan commented on #6
@stevekim1357 Try running that on your computer, try `$ conda install matplotlib`

[2017-05-28 16:47] ghost opened #14 "Missing Plot Show in colorthreshold.py"
Go to Introduction To Robotics > Search and Sample Return > The Perception Step
the color_threshold.py is missing line 'plt.show()' at the end to display the plot

System :
Windows 7
Python 3.6.1

[2017-05-29 04:33] ryan-keenan commented on #14
Thanks for reporting this!  In fact, within our quiz editor we need to take slightly different steps to actually render the plot so the `plt.show()` is left out by design.  As you have seen, however, this is required if you're running the code on your local machine.

[2017-05-29 04:33] #14 closed, assigned to ryan-keenan

[2017-05-29 04:38] ryan-keenan commented on #14
I've added a comment at the bottom of each code quiz that you should add `plt.show()` if running the quiz code on your local machine

[2017-05-30 01:21] adammalpass opened #15 "Issues in Part 10) - Sourcing the Environment of the Introduction to ROS lesson"
just want to report two issues I found in Part 10) - Sourcing the Environment of the Introduction to ROS lesson:

1) In the text it mentions  "/.bash.rc file". This is incorrect, it should be  "/.bashrc", i.e. no 'dot' between 'bash' and 'rc'.

2) The exercise talks about adding the sourcing of the ROS bash script to the bashrc so we can load everytime and walks through an exercise to compare the

[2017-05-30 01:25] adammalpass opened #16 "'Finish and Graduate' options appears after completing first project"
I passed the first project and since it's the only coursework currently available my Udacity home page is telling me I can finish and graduate! Might want to fix this

[2017-05-30 02:04] sahiljuneja opened #17 "Bug in the UI for the quizzes"
Whenever you submit a quiz, you get a pop-up window stating whether we cleared it or not.

If you press the `Try Again` or `Continue` button in that pop-up, there's no issue.

But if you try to close the pop-up by clicking the `x` (cross) in the top-right corner of the pop-up window, it scrolls the window all the way to the top.

[2017-05-30 03:17] Chambana opened #18 "ESC key stops working on RoverSim"
on Ubuntu 16.04, the RoverSim ESC key quickly stops working as intended.  You can no longer hit ESC to give control of your cursor back to the OS, effectively locking you into the sim.  I have to Alt-Tab out of the Sim and kill the Application to close it.

[2017-05-30 03:37] adammalpass opened #19 "Packages & Catkin Workspaces ETA 1min"
The Packages & Catkin Workspaces lesson shows estimated completion time of 1 min. Note this is before I have ever opened it and take any of the classes. I just completed the lesson and I estimate 1 hour is much more realistic timeframe than 1 minute.

[2017-05-31 01:38] ryan-keenan commented on #17
filed a ticket for this, thanks for reporting!

[2017-05-31 01:39] ryan-keenan commented on #18
Thank you for reporting!  should be fixed now: https://s3-us-west-1.amazonaws.com/udacity-robotics/Rover+Unity+Sims/Linux_Roversim.zip

[2017-05-31 01:39] #18 closed, assigned to ryan-keenan

[2017-05-31 01:41] ryan-keenan commented on #19
Thanks for reporting this!  fixed now

[2017-05-31 01:42] #19 closed, assigned to ryan-keenan

[2017-05-31 03:17] adammalpass opened #20 "Lesson 3 - Part 3 - Simple Mover The Code"
In the full code listing there is no call to 'rate.sleep()' inside the first while loop 'while not start_time', however there is one inside the code breakdown. Based on the description underneath the code explanation I think this needs to be added to the main code listing - please confirm?

[2017-05-31 03:21] adammalpass opened #21 "Lesson 3 - Part 3 - Simple Mover The Code - sin wave magnitude"
In the full code listing in the 'while not rospy.is_shutdown():' the values published just come directly from the sine wave, so should be between [-1, 1]. But in the code breakdown the sine wave is multiplied by (math.pi / 2) so the output will change by [-pi/2, +pi/2]. I think this muliplication is needed to produce good output angles.

Please confirm and update the full code listing?

[2017-05-31 16:41] vaer-k opened #22 "Missing dependency in VM: vim"
Without vim preinstalled in the provided virtual machine image, commands like `rosed` won't work out of the box. vim should either come preinstalled or students should be directed to install it manually.

[2017-05-31 16:43] vaer-k opened #23 "ROS env variables are pre-sourced"
In section 2 lesson 1, "intro to ros", we are directed to source the bash script that loads environment variables, but the source command has at this point already been executed by default in the provided .bashrc, so the tutorials do not align with the actual experience of using the virtual machine.

[2017-05-31 19:18] sumesa opened #24 "Simulator not working in ubuntu"
In the roversim directory, roversim.x86_64 launches the rover simulator configuration. But when you click the ok button nothing starts.

[2017-06-01 03:57] ryan-keenan commented on #16
Thanks for reporting this!  I think it's fixed now.

[2017-06-01 03:57] #16 closed, assigned to cdlei

[2017-06-01 04:43] adammalpass commented on #24
I reported this already. Please see issue 10.

[2017-06-01 04:43] adammalpass commented on #16
Yes I can confirm it's fixed, thanks!

[2017-06-01 06:25] adammalpass commented on #23
I reported this already - please see issue 15.

[2017-06-01 15:14] cdlei commented on #16
👌 great to hear. Thanks @adammalpass

[2017-06-03 23:46] frozenamazon opened #25 "Lesson 3 - Part 8 - Code error"

[2017-06-03 23:49] frozenamazon commented on #25
In the extra functions.py provided, img.shape[0] and img.shape[1] has been swapped. Took me hours to troubleshoot, but at the end the LiveHelp saved me :) Thanks Admin!

Provided:
    dst = np.float32([[img_size[0]/2 - dst_size, img_size[1] - bottom_offset],
                      [img_size[0]/2 + dst_size, img_size[1] - bottom_offset],
                      [img_size[0]/2 + dst_size, img_size[1] -

[2017-06-04 14:57] Dulluhan opened #26 "Simulator creating large file under ~/.config"

[2017-06-07 17:53] GilMe opened #27 "Lesson 3- Part 3 missing explanation for rospy.init_node"
In the code that is pasted in the top, rospy is initialized with: 'rospy.init_node('arm_mover', anonymous=True)'
In the line-by-line explanation of the code its: 'rospy.init_node('arm_mover')'
There is no explanation to what 'anonymous=True' does.

[2017-06-09 20:54] kylesf commented on #15
Hey there Adam,

Thanks for pointing out the `/.bash.rc file`, I went ahead and fixed that. As for #2, I agree that it can be made clear that the action does not need to be made on the VM. I will look into that. However, some may not be using the supplied VM and therefore this constitutes as a more complete walkthrough on the appropriate steps. As for the `diff between oldenv and newenv returns no

[2017-06-09 21:02] kylesf commented on #23
Thanks for reporting. We are currently working on this. For any updates please check [here](https://github.com/udacity/robotics-nanodegree-issues/issues/15)

[2017-06-09 21:02] #23 closed, assigned to nobody

[2017-06-09 21:13] kylesf commented on #20
Hey there Adam, I am not sure anything needs to change but lets chat about it and see if we can make sense of it!

So the main repeating part of the overall code is this while loop:
[code]

The ` rate.sleep()` is to maintain the loop cycle rate. As for the while loop above it `while not start_time` is only called upon during the initialization of this file. It is needed because of the try and exce

[2017-06-09 21:16] kylesf commented on #22
Yup, great point. I think we may just switch `rosed` from its default of vim to nano. Which should settle this issue and keep people with an easier terminal interface. Will update when the change is made.

[2017-06-09 21:45] kylesf commented on #26
Could you please provide more information in regards to your OS and the version of the simulator you are using? Also the size of `~/.config`. Thanks!

[2017-06-09 21:49] kylesf commented on #24
What is the status of this issue?

[2017-06-09 23:35] kylesf commented on #21
Thanks for catching that error. I have updated the code in the classroom to the correct version!

[2017-06-09 23:35] #21 closed, assigned to bkinman

[2017-06-10 00:24] adammalpass commented on #20
Hi Kyle, it looks like the issue has already been fixed. Previously on the lesson page there was no rate.sleep() in the first while loop in the entire code listing, but underneath where it repeats sections of the code again for the breakdown there _was_ a rate.sleep() line. So my point was that the full code and the code breakdown were inconsistent. But now it's fixed so I think this can be closed

[2017-06-10 00:50] ryan-keenan commented on #27
Great catch!  This has been fixed now: `The argument anonymous=True makes sure that you always have a unique name for your node`

[2017-06-10 00:50] #27 closed, assigned to ryan-keenan

[2017-06-10 01:04] #20 closed, assigned to kylesf

[2017-06-10 01:04] ryan-keenan commented on #25
Thanks for reporting this!  Indeed there was an inconsistency between this and the perspective transform quiz.  Fixed now so they are the same code.

[2017-06-10 01:04] #25 closed, assigned to ryan-keenan

[2017-06-10 03:22] kylesf commented on #15
Made a note in the classroom informing students that they do not need to add the sourcing of ROS to their bashrc file since it is already taken care of!

[2017-06-10 03:23] #15 closed, assigned to kylesf

[2017-06-11 07:52] Dulluhan commented on #26
Hi, I'm on Ubuntu 16.04, Roversim.x86_64, I think the problem has since been updated and partially fixed. It does still add 8mb every time I restart the node.
At the time I reported this I had a 16gB folder under `~/.config/unity3d/`, I  added `rm -rf ~/.config/unity3d/` to my `.bashrc` so I have not had that problem since then. I noticed this problem because my computer was constantly telling me

[2017-06-11 07:57] Dulluhan commented on #26
I did some more testing, seems that the folder grows when the python node is inactive, maybe the simulator is constantly creating logs when its not connected to python socket? Its grown from 19mb to almost 1gb in 5 minutes when my python node isn't open

[2017-06-11 07:58] Dulluhan commented on #26
The problem does go away after the python node is restated

[2017-06-11 08:01] Dulluhan opened #28 "Is picking_up flag does not reset in simulator"
After pick_up flag is sent through socket, picking_up flag is asserted on Unity end. The result of this is that the rover no longer takes any commands manual or autonom4 a sample nearby. Could be just a problem with my build. Ubuntu 16.04, Roversim.x86_64

[2017-06-11 08:02] Dulluhan commented on #28
After pick_up flag is sent through socket, picking_up flag is asserted on Unity end. The result of this is that the rover no longer takes any commands manual or autonoms, with or without a sample nearby. Could be just a problem with my build. Ubuntu 16.04, Roversim.x86_64

[2017-06-11 08:04] Dulluhan commented on #26
Its under `~/.config/unity3d/Rover Simulator/Rover Simulator/Player.log`

[2017-06-11 08:07] Dulluhan commented on #26
Its a connection refusal in with sockets, building error logs.
[code]

[2017-06-11 16:19] kylesf commented on #28
Is this with the most up to date simulator?

[2017-06-11 16:20] kylesf commented on #26
Do the logs auto delete at all? If not perhaps we can build this in as a feature

[2017-06-12 23:24] kylesf commented on #22
This has been taken care of and you can find the updated VM in the classroom! Thanks for the help!

[2017-06-12 23:24] #22 closed, assigned to kylesf

[2017-06-13 02:54] gwwang16 opened #29 "Update OpenGL 3.3"
OpenSchool cannot work with the default opengl version 2.1 in VM.  I updated it succesfully in local following this link. https://www.mesa3d.org/vmware-guest.html

[2017-06-13 04:22] natamorales opened #30 "keyboard setting"
Not really an issue ... while one remembers where the characters are =)  but although I selected spanish keyboard, in VM v2 it remains in english ...

[2017-06-13 05:46] kylesf commented on #30
Thanks for sharing. I will look into it and figure out a fix. Ill get you the steps needed to fix as well!

[2017-06-13 15:27] kylesf opened #31 "VM update packages"
Look into this student comment "For native Ubuntuers, for the pick and place github they got going on, other than the rosdep, I also had to apt-get install ros-kinetic-moveit* to get the thing to work."

[2017-06-14 05:04] ghost opened #32 "Robotic vm import issue"
Followed the steps on installing VMware Fusion for Mac and the latest Robotic VM V2.0.1 (posted on slack).

Unfortunately, I end up getting an unknown error prompt. I tried reinstalling, and the problem persists. The error prompt stated that VMWare had created a log file. If required, I could share that file.

[2017-06-14 05:21] ghost commented on #32
![Screen Shot 2017-06-13 at 11.05.02 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5940bf8f3984c3001af932f9/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256455f06b7191a379ee0c2b54415f4cbc21254d58eeb9cb74fce36f34985619e8d86f5c70923518adec861fbc05ba20824d85e4bfdf45c2fa2137a5dad11b61435c52dcbd4f3fb29a49c259f242e64954a3153f63e776336e0a.png)

[2017-06-14 16:30] #32 closed, assigned to nobody

[2017-06-14 22:09] adammalpass opened #33 "Two DoF Arm Code - Bug"
There seems to be a bug in the Two DoF Arm code quiz. The comments in the code states:

"NOTE: joint2_angle is the angle counterclockwise from the link1 axis"

However the code solution.py (line 6&7) specifies relative to the x-axis (joint1_angle + joint2 angle). When you press 'Submit Answer' it also only marks you correct if your code has (joint1_angle + joint2 angle). However looking at the arm

[2017-06-14 22:32] adammalpass commented on #33
Sorry I jumped the gun a bit on this one... my mistake... code is correct, I was wrong. Please close.

[2017-06-14 22:34] sahiljuneja commented on #33
Just saw the Slack discussion. Glad it was cleared out. :)

[2017-06-14 22:35] #33 closed, assigned to sahiljuneja

[2017-06-15 15:01] flores-jacob opened #34 "Add checksums for rosessentials VM disk image"
Adding checksums for the downloads will allow us  to verify that the downloaded VM disk image is not corrupt.

[2017-06-16 07:47] adammalpass opened #35 "RoboND-Kinematics-Project README mentions wrong repo to clone"
In the README (https://github.com/udacity/RoboND-Kinematics-Project/tree/435619d7e7ff67ea4ad469ad3ced64b5acc96070) of the RoboND-Kinematics-Project it says we should clone the following repo:

```$ git clone https://github.com/udacity/test_repo_robond_robotic_arm_pick_and_place.git```

However in the lesson notes in Part2: Setting Up Your Environment it says we should clone this repo:

```$ git cl

[2017-06-16 07:57] sahiljuneja commented on #35
Thanks a lot for pointing this out! Should be updated soon once the Bay Area (California) wakes up ;)

[2017-06-16 15:13] mi7flat5 opened #36 "Broken Link"
in section 14 of the kinematics project 'Inverse Kinematics with Kuka KR210', in this sentence 'Now that you have the wrist center position, follow the simple math presented in this section to derive the equations for first three joints.' The link on this sends me to  a beta version of the ND and I get a error saying I don't have access.

[2017-06-16 15:18] sahiljuneja commented on #36
Hey, could you refresh the page and share that URL here? Because it should not point to the beta version.

[2017-06-16 15:19] sahiljuneja commented on #36
Okay, found the problem. Fixing it. Thanks!

[2017-06-16 15:22] sahiljuneja commented on #36
Okay, should be fine now.

[2017-06-16 15:22] #36 closed, assigned to sahiljuneja

[2017-06-16 16:31] sahiljuneja commented on #35
Should be fixed now.

[2017-06-16 16:31] #35 closed, assigned to sahiljuneja

[2017-06-16 20:38] mi7flat5 opened #37 "Broken links"
Both links in the project rubric for the pick and place project link to beta ND and are not accessible

[2017-06-16 20:57] mi7flat5 commented on #37
The rubric also mentions a writeup template that I don't see in the repository.

[2017-06-16 21:00] thassan743 opened #38 "Incorrectly labeled vectors"
In Kinematics Lesson 2.10 Homogeneous Transforms and their Inverse, the first image has the labels for two of the vectors swapped. The vector from A0 to B0 is currently labeled  `r(P/A0)` but should be `r(A0/B0)`. and vice versa for the vector from A0 to P.

Also the use of the leading superscript is inconsistent

[2017-06-16 21:03] thassan743 commented on #38
![l01-14-l-homogeneous-transforms-and-their-inverse-01.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5944452ae0db935b39c0cb5f/125516c66e82c728ace21e0d46e4c4cb6ed3d7e483a4b74ca952f791274328663a49b739718bf02eb0507612420e10f85c1c0711a5bb9472f8f06932c90916edd07f4366867f4ef6edd15bad0ba825824d86b2e88245c1bc3925e48f8f4f371c054a8aaa5437b285598a09a81fbe100cee467471ec64347f44911d7

[2017-06-16 21:21] kylesf commented on #28
Any updates to this?

[2017-06-16 21:21] kylesf commented on #24
Any updates to this?

[2017-06-16 21:21] kylesf commented on #26
Any updates to this?

[2017-06-16 22:38] adammalpass opened #39 "Rviz Basics Lesson Default Fixed Frame wrong?"
In the RViz Basics lesson it says we should change the Fixed Frame setting from `world` to `base_link`. For me the default setting is `map` and there is no `world` setting. `base_link` does exist however, and setting it causes program to work, but I think instructions may be incorrect.

[2017-06-17 00:14] adammalpass opened #40 "Rvis Basics Missing Link"
Quote from Interact section:

"Interact
This is a special tool that can be used to interact with interactive markers. More on interactive markers can be learned [here]."

The link 'here' is missing.

[2017-06-17 05:01] Chambana opened #41 "incorrect info in code comments"
I think there is incorrect info in 2 places in the exercise labeled, "Homogeneous Transforms and their Inverse".  In the solution code, the comment above P's initialization says "# Construct P in {A}".  However, P at this point is in B frame not A.  In the Starter code, the problem setup comment says "Let P be a vector expressed in frame {C} with (x,y,z)" .  P is in B frame not C frame.  C frame w

[2017-06-17 05:15] Dulluhan commented on #26
For me, the have just been building up

[2017-06-17 05:45] adammalpass commented on #36
I still have this issue with many links in the Kinematics section

[2017-06-17 05:47] adammalpass commented on #37
I found same issue. The rubric also mentions there is an example diagram inside the writeup template that I'd really like to reference!

[2017-06-17 18:16] ryan-keenan commented on #37
Thanks for reporting and sorry for the delay.  The links in the rubric are fixed and the repo is updated now with a writeup_template.md.  Nothing fancy there just an example doc to get started with the writeup.

[2017-06-17 18:16] #37 closed, assigned to ryan-keenan

[2017-06-17 18:17] ryan-keenan commented on #28
I'll close this issue for now as this should be fixed in the most recent updates to the project repo.  Please reopen if problems persist!

[2017-06-17 18:17] #28 closed, assigned to ryan-keenan

[2017-06-17 18:25] ryan-keenan commented on #6
Thanks for reporting these issues.  I'm going to close this now as I believe the initial problem is solved in the [doc](https://github.com/udacity/RoboND-Python-StarterKit/blob/master/doc/linux_ros_anaconda_warning.md) that's been added to the environment setup repo.  Please reopen if problems persist.

[2017-06-17 18:25] #6 closed, assigned to ryan-keenan

[2017-06-17 19:04] irishMee opened #42 "Diagram needs revision"

[2017-06-17 19:10] irishMee commented on #42
in the Homogeneous Transforms and their Inverse lesson and in the first diagram on the page, I believe that the vector labeling for A rAo/Bo and the vector  r P/Ao need to be switched. Image that I am talking about is shown below with my recommended switch.
![l01-14-l-homogeneous-transforms-and-their-inverse-01v2.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59457d2f0b68

[2017-06-17 19:29] Chambana opened #43 "rqt_image_view throws segmentation fault"
Every time I run rqt_image_view in the Arm Mover module it throws a segmentation fault.  I'm running Ubuntu 16.04 and ROS Kinetic.  Just did a fresh reinstall of ROS Kinetic Desktop Full and it's still happening.  Any fix would be appreciated!

[2017-06-17 21:41] ryan-keenan commented on #42
Thanks for reporting!  This looks like [issue #38]( https://waffle.io/udacity/robotics-nanodegree-issues/cards/594446fbe8304a00263d6354) so will assign to @jchernus as well and move to "in progress".

[2017-06-17 23:33] ghost opened #44 "Incorrect notation"
Lesson 2.10
 1)Vector description in graph is incorrect
 2) Incorrect notation of transformation matrix from BtoA in the end of lesson

[2017-06-18 17:24] chedanix opened #45 "Properties of Rotation Matrix"
This issue is confirmed by Live Help

In Kinematics lesson 2 section 3, four properties of rotation matrix are stated. There is a typo in property number 4. The columns (not rows) should define the basis vector of the rotated frame relative to the base frame.

[2017-06-18 17:26] #24 closed, assigned to kylesf

[2017-06-18 17:40] kylesf commented on #31
Adressed

[2017-06-18 17:40] #31 closed, assigned to kylesf

[2017-06-18 17:41] kylesf commented on #43
Is this happening via the supplied VM?

[2017-06-18 17:42] kylesf commented on #30
Were you able to find a solution to change the key mapping? From what I have looked up the keyboard should be switched to Spanish. I do not have a keyboard to test though!

[2017-06-18 17:46] kylesf commented on #26
Can you see if the problem occurs with the newest simulator version, this could be related to a memory leak issue we had previously.

[2017-06-18 18:06] kylesf commented on #29
Has any upgrades to OpenGL caused any issues with your pick and place project?

[2017-06-18 18:09] kylesf commented on #34
Will have this in the next updated VM and the checksums will be provided in the classroom. Moving to in progress until complete.

[2017-06-18 18:16] jchernus commented on #41
Thanks!

[2017-06-18 18:16] #41 closed, assigned to jchernus

[2017-06-18 18:33] kylesf commented on #45
Thanks, fixed.

[2017-06-18 18:34] #45 closed, assigned to nobody

[2017-06-18 20:30] Chambana commented on #43
No.  I'm just using 16.04 LTS and Kinetic.

[2017-06-18 21:01] sahiljuneja commented on #43
This is a bit difficult for us to help with since we can't easily reproduce the error in the VM (which is what's officially supported for this course currently).

But such a problem is usually associated with not having an up-to-date QT framework.

So you can check your version by running `qmake --version`

For Kinetic the minimum version stated here http://wiki.ros.org/rqt is 5.3, although for th

[2017-06-19 01:23] gwwang16 commented on #29
@kylesf No, it has no effect on pick place project. As I mentioned before, Openschool cannot work with the default opengl version 2.1 in VM, which is introduced in Udacity Explorer -- Biologically inspired robots.

[2017-06-19 20:37] mi7flat5 opened #46 "Crashy gazebo"
4 out of 5 attempts to run safe_spawner.py results in a gazebo crash. This occurs in either mode. I've attempted increasing the VM memory to 8GB. Still the same. I get one of two error, if any error at all.

 [gazebo_gui-6] process has died [pid 94347, exit code 134, cmd /opt/ros/kinetic/lib/gazebo_ros/gzclient __name:=gazebo_gui __log:=/home/robond/.ros/log/b3006d02-5526-11e7-be26-000c296a8714/ga

[2017-06-19 22:10] adammalpass opened #47 "Pick and Place - Arm Doesn't move to dropbox"
I am doing pick&place project and my arm successfully plans a route to the object and picks it. It then successfully plans the route to the dropbox. However the arm does not _move_ to the dropbox. I can see the following errors in the console:

[ERROR] Failed to call service calculate_ik
[ERROR] found empty JointState message

I'm not certain, but it looks to me like these are not issues within my

[2017-06-19 22:27] sahiljuneja commented on #47
Hmm... I will try to replicate the problem on my end. This might take a while though but I will try to look into it asap.

Is the code in your github repo the latest? I can try that along with our solution to see what might be missing too.

[2017-06-19 22:30] sahiljuneja commented on #46
That's interesting. It shouldn't crash that often.

Can you try to open that log and sharing what error the log shows? The path is presented in the error above.

Also, just as a check. In your VMWare settings (at least the one for Windows), under "Display" there might be an option of "Accelerate 3D graphics" Can you confirm if that's checked or not? Try to UNcheck it and that might help with gazeb

[2017-06-19 22:31] sahiljuneja commented on #47
When I said, "the code in your GitHub repo" I meant "your solution, the ik_server.py file"

[2017-06-19 22:45] mi7flat5 commented on #46
The "Accelerate 3D graphics" was checked. I unchecked it, and now Gazebo starts in a much smaller window, but still crashes. I check the log file and it is empty.

[2017-06-19 23:05] adammalpass commented on #47
Yes my code in GitHub is the latest.

Problem may have just been resolved via Slack though - safe_spawner.sh doesn't start our code directly, we need to run it separately via rosrun.

Sent from my iPhone

On Jun 20, 2017, at 7:31, Sahil Juneja <notifications@github.com<mailto:notifications@github.com>> wrote:

When I said, "the code in your GitHub repo" I meant "your solution, the ik_server.py fil

[2017-06-19 23:08] sahiljuneja commented on #47
Aah cool. Please let me know if that gets confirmed!

[2017-06-20 11:10] adammalpass commented on #47
Yes it's ok now, thanks!

[2017-06-20 22:27] #47 closed, assigned to sahiljuneja

[2017-06-21 03:47] bkinman commented on #46
Have you tried `$ ps aux | grep gz` after the crash, to verify that there are no instances of gazebo client or server running?

Can you try waiting 30 seconds after the crash and then trying again? I know it sounds odd, but I have experienced situations  with gazebo where waiting a full 30 seconds before relaunching made this type of crash go away.

I actually have an open ticket with OSRF to inve

[2017-06-21 05:45] mi7flat5 commented on #46
Yes there does seem to be a time factor at play here, if I wait the odds of success increase I haven't confirmed that another instance is still running, I assume this is part of the issue. I changed the settings in the VM to 6 cores and gave it 13GB of RAM and gave the video 2gb and it seems to be working better as well. Though sometimes still a crash, not nearly as often now.

[2017-06-23 19:02] flores-jacob opened #48 "Cannot scroll livehelp window downwards"
After posting query to livehelp, livehelp window pops up, showing the connection was successful. However, there is no way to scroll the window downards to see if the live expert is able to respond to the query.  There is no input field to type any responses either.

After clicking the "End Chat" button, the live help window is now scrollable, revealing that the live expert was available all along

[2017-06-23 19:06] flores-jacob opened #49 "live help button missing in chrome, but present in firefox"
There is no livehelp button on the lower left hand corner of the screen when using the chrome browser.  Firefox however has the button.

Chrome version:Version 59.0.3071.109 (Official Build) (64-bit)
OS: Ubuntu 16.04

[2017-06-23 19:14] flores-jacob opened #50 "No indicator that post live help feedback message is too long"
After a live help session, feedback is requested from the user.  I attempted to put a comprehensive review of the interaction, however sending the feedback would fail with no indication why.

Shortening the feedback allowed however for successful submission

[2017-06-25 12:08] frozenamazon opened #51 "Feedback: Larger livehelp window"
Any change the livehelp chat box can be bigger? It cannot be adjusted or open in a separate window/tab. It is difficult when you are attaching images, or have long conversations (current it would only support about 6 lines before it gets cut off).

[2017-06-25 12:13] frozenamazon opened #52 "Multiple livehelp sync issues"
Sometimes when there are multiple tabs open, as the livehelp chat box always appear in tabs where I have the lectures open, there are sync issues. E.g. I didn't realise there was a reply from the mentors, until I opened the other tabs.

[2017-06-25 12:16] frozenamazon opened #53 "Feedback: more interactive livehelp"
There are times where livehelp takes more than 10 minutes (I waited for nearly 30 minutes) for a reply. I understand that there may be a queue, but from a UX perspective, any chance of showing the queue number, instead of just the waiting indicator. I am not sure whether the livehelp is just broken or there is a massive queue.

[2017-06-25 17:58] bkinman commented on #46
I actually run into this problem on my system as well, and I'm not using a VM.

[2017-06-26 16:12] christiansafka opened #54 "Robot model URDF not loading correctly into RViz"
This issue has been reported by two people both running Ubuntu 16.04.  Other URDF gazebo models are working fine.  When loading this one, only the gripper is visible.  The collisions part seems to load fine, and shows the whole robot in gray.  There is something going on with the visual part of the robot.

[2017-06-26 16:27] sahiljuneja commented on #54
Is there any error message or warnings or anything that pop-up when you try to launch it? Share a screenshot of the terminal if possible.

Also, are you sure you added the correct path in your `bashrc` for the `gazebo_model_path` and sourced it? Usually that is the problem.

[2017-06-26 16:52] christiansafka commented on #54
![Screenshot from 2017-06-26 19-50-32.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5951313bc3d5d20020a58631/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227e49f37d3dd7b568ee1b36545f424dae53444d04bea6d37ef5f22e7a985902efd2690b7ccf3c45a8b8811bbf01b3228b1d86e3b5885edcfa7f74b9dfd0126754505a9bf54f37a6934acc51fe4fe8485da3133467e0647b.png)

I had actually forg

[2017-06-26 17:14] sahiljuneja commented on #54
Did you directly copy-paste the gazebo_model_path from the lessons?

Because the workspace in the lessons is `catkin_ws` and yours is `ros_ws`. That difference might lead to such issues.

[2017-06-26 17:41] christiansafka commented on #54
No, after you mentioned the gazebo model path, I made sure that it had the correct path.  Also, that path points to models for Gazebo simulation, not sure how it would affect this demo.  But you definitely saved me some headaches later :)

[2017-06-27 20:35] frozenamazon commented on #48
+1.
Chrome should fix the issue, but it is utterly broken on Firefox

[2017-06-29 00:20] kylesf commented on #29
Will not be upgrading VM to OpenGL 3.3 due to possible student hardware issues.

[2017-06-29 00:20] #29 closed, assigned to kylesf

[2017-06-29 00:21] kylesf commented on #26
Status update?

[2017-06-29 01:03] kylesf commented on #17
@ryan-keenan Any updates on the JIRA ticket?

[2017-06-29 01:08] #42 closed, assigned to jchernus

[2017-06-29 01:08] #38 closed, assigned to jchernus

[2017-06-29 01:08] #44 closed, assigned to jchernus

[2017-06-29 01:10] sahiljuneja commented on #54
Hey, is this still troubling you?

I have had a difficult time to reproduce this error on my end.

You don't seem to be working with the classroom VM so difficult to say what might be causing the problem based on anything else you might have installed/downloaded previously.

Couple of things to try would be to remove your current workspace and then follow steps in the lessons to create one from sc

[2017-06-29 04:08] fredrick-dominy opened #55 "catkin_make fails after upgrading gazebo"

[2017-06-29 04:14] fredrick-dominy commented on #55
Initial walkthrough installed correctly from the udacity course and I was able to play around with the various applications.

However when I forked the project, instructions were to upgrade gazebo to 7.7+  (If I remember correctly I was on 7.0 or something).

Now catkin_make fails.

"/usr/include/gazebo-7/gazebo/msgs/msgs.hh:24:37: fatal error: ignition/math/Inertial.hh: No such file or directory"

[2017-06-29 06:34] fredrick-dominy commented on #55
After uninstall of ROS and reinstallation from square-1, catkin_make was able to complete.

Issue resolved.

PEBCAK

[2017-06-29 08:09] sahiljuneja commented on #55
Glad it worked! Was there anything different you had to do when reinstalling?

[2017-06-29 08:09] #55 closed, assigned to nobody

[2017-06-29 14:02] fredrick-dominy commented on #55
I ensured that ROS and all configurations were deleted, including the
hidden folders found on ~

Also, I did not upgrade gazebo, as directed from the GitHub repo... I think
the version it's currently 7.8

On Jun 29, 2017 1:09 AM, "Sahil Juneja" <notifications@github.com> wrote:

[2017-06-29 14:27] kylesf commented on #46
Do we have updates to this matter?

[2017-06-30 14:41] gwwang16 opened #56 "Feedback: hope imporve mentor quality"
The Live Chat has a terrible experience besides its interactive interface. I think many mentors are giving misleading suggestions and don't understand concepts correctly. I connected with several mentors before, it turns out all answers I received are wrong.  Moreover, most `mentors` replied very slow, one ridiculous thing is I got nothing useful infomation in one lasted one houre live chat. They

[2017-06-30 14:48] gwwang16 opened #57 "Feedback: hope add more content about IK"
In the kinematics part, I think there are a huge black between course content and project. Most of us had been stuck in misleading understanding without any clarification. Hope to add more description to express IK more clear.

[2017-06-30 14:58] gwwang16 opened #58 "Feedback: hope improve course content quality"
There are so many typos, mistakes, inconsistent conventions and vague things in part.2 course content, it looks it is still in half-baked. I cannot believe that you can release them as formal content without proof reading, didn't add contents anymore and didn't provide any extra learning source links. We came here with expensive paid fee to learn not to be laboratory rats.

[2017-06-30 15:05] gwwang16 opened #59 "Feedback: hope conduct more interactions with students"
There is few interaction and feedback about course problems. You don't want to have a forum, so the slack is our main discussing place, right? But there is no official people come out to answer questions or clarify uncorrect understandings among so many posted problems in slack channel.  You have adviced us to use LiveChat, but the dialogue quality in LiveChat is too worrisome, All of them (>10) h

[2017-06-30 15:33] gwwang16 opened #60 "Feedback: about mentors in LiveChat"
I don't understand why you insist on using this terrible product 'LiveChat' to answer our questions, about salary calculation? It's the best way to do it in a forum or even in slack channel. Because livechat is a closed space, we cannot evalute the dialogue quality, don't know whether they are right at that time, and cannot reuse QA content.
The chat window is too small and has no notify sounds wh

[2017-06-30 20:59] fredrick-dominy opened #61 "Video tutorials of working with Kinematics Project"

[2017-06-30 21:06] fredrick-dominy commented on #61
One hurdle that I've had is that I don't know what the workflow (editing and testing code) "should" look like in this project.

There were several hours where I wasn't sure the project was working and only found out later that I have to explicitly call the IK_server.py from a new terminal view.

I'd like to propose a casual video series where a professional starts with our code base and begins mod

[2017-07-01 14:28] rajmis opened #62 "Perception L2E11 rajat"

[2017-07-01 14:56] #62 closed, assigned to nobody

[2017-07-02 04:52] fredrick-dominy commented on #61
The current videos also have the narrator speaking over a static image.  A good example of this is the DH parameter table video in lesson 16.

It is very confusing to have a large image with many numbers and letters being talked about without having the narrator draw our attention to the specific letter-combination.  The opposite of this style is used by Khan academy where the narrator will circle

[2017-07-03 15:31] #43 closed, assigned to sahiljuneja

[2017-07-03 15:32] #39 closed, assigned to sahiljuneja

[2017-07-03 15:32] #40 closed, assigned to sahiljuneja

[2017-07-03 17:26] paramrajpura opened #63 "Gap in understanding inverse kinematics using geometry"
Understanding the geometric IK not only requires basic geometry knowledge, but some visualization skills.
The example provided for IK in lesson definitely helps but doesn't cover enough diagrams/visualizations.
Referring Spong's textbook and help from Slack community finally made things clear.
For a fix, I request adding few additional materials to refer for this particular concept and P2 overview

[2017-07-03 17:34] paramrajpura opened #64 "Live Help Credibility"
Live help has been a well intended but poorly implemented solution.
The solutions from Live experts have been hardly helpful even after the slow paced responses.
Requesting to either train mentors well enough or at-least a thorough check on their version of  project implementations before releasing materials to students shall be helpful.

Technical Issues:
1. Limited browser support
2. Inconsisten

[2017-07-03 18:32] frozenamazon opened #65 "More guidance on the projects"
It feels like a lot of knowledge has tried to be passed on without much explanation. Yes it is good for the students to self learn, but it is literally throwing into the dark. In the event the material is not updated, more guidance is required. ie mentors that can actually explain and understand the problems faced

[2017-07-03 21:11] frozenamazon opened #66 "Waffle board doesnt work properly on mobile"
It doesnt scroll when viewed on a mobile screen

[2017-07-03 21:58] lisajlau commented on #56
My experience is there are a few mentors who actually understands the content and able to explain them. On another note, some just struggles to explain. It is a tough topic, and we definitely need some one that really guide us. Agreed with the slow reply.

[2017-07-04 13:34] gwwang16 commented on #56
Hmm... They must know indeed answers of these common questions now...

[2017-07-05 06:05] gpavlov2016 opened #67 "False negatives in Composition of Homogeneous Transforms quiz evaluator"

[2017-07-05 06:07] gpavlov2016 commented on #67
When submitting the following code the result is identical to solution but the message says :"Your position for frame E does not match up for both transformations."

#!/usr/bin/env python

from sympy import symbols, cos, sin, pi, sqrt, simplify
from sympy.matrices import Matrix
import numpy as np

# Conversion Factors
rtd = 180./np.pi # radians to degrees
dtr = np.pi/180. # degrees to radians

###

[2017-07-05 06:21] sahiljuneja commented on #67
The feedback is because you haven't inputted the values for q1, q2, q3, and q4 during evaluation. They are all 0 as per your code above.

I will look into updating the feedback statement as well based on this.

[2017-07-05 06:22] sahiljuneja commented on #65
Is this specific to any project?

Any particular pain points you faced for any project in regards to this so that we can try focus on that?

[2017-07-05 11:30] sahiljuneja commented on #66
Hey, yeah it's not the best optimized website for the phone.

But you can scroll on phone, you just have to scroll close to individual scrollbars which is annoying and confusing. So you can't scroll a particular section (like "Backlog") if you try to scroll by moving your finger in the center of the area. You will have to scroll by sliding your finger close to the scrollbar (invisible by default)

[2017-07-05 11:30] #66 closed, assigned to nobody

[2017-07-05 14:09] lisajlau opened #68 "Project review"
The review took three days, as opposed to 24 hours. I understand that it was a holiday but it would be good to notify the students that there might be a delay. I am sure they understand instead of letting them guess.

[2017-07-05 18:37] kylesf commented on #49
Tried to replicate your error and was unable to do so. Does this still happen?

[2017-07-05 21:18] ryan-keenan commented on #68
Thanks for the feeback!  We try to stay on top of any potential blockers for reviews and let students know when we run into the, but sometimes things slip.  You can be assured that we'll be making every effort to keep things fast and efficient going forward!

[2017-07-05 21:19] #68 closed, assigned to ryan-keenan

[2017-07-06 07:51] flores-jacob commented on #49
Hi. Yes, it still happens. However, I believe I just found out why.
Apparently, the livehelp button only shows up if the lesson page is opened
with the https:// prefix. Without the https prefix, the livehelp button
does not show up. This is true for firefox and chrome. I had the a firefox
plugin that always forced https connections, which would explain why the
button shows up on firefox, and not o

[2017-07-06 11:42] lisajlau opened #69 "Feedback: mentors/tutors should monitor slack chat"
The slack chat, since it's being used as a discussion board should be monitored to ensure that the wrong understanding is corrected and not spread.

[2017-07-06 14:23] kylesf commented on #49
Okay will share!

[2017-07-06 23:35] lisajlau opened #70 "Feedback: Udacity app"
When watching videos on the app, it is unable to view the videos on landscape. I am using an Android phone.

[2017-07-07 02:25] adammalpass opened #71 "Already completed projects now showing as "past due""
All of a sudden all the projects I had already completed (Rover, Pick & Place, Github) are showing as uncompleted and "past due". Looks like a bug - please can you check?

[2017-07-07 03:27] tiedyedguy opened #72 "Typo: Perception: Lesson 3-12"
"If you have a priori knowledge"

[2017-07-07 08:59] sahiljuneja commented on #71
That sometimes pops up. Usually waiting for a bit and refreshing a few times fixes things. But regardless, don't worry, even if that shows up you won't have to resubmit anything. It's all still there!

Just noticed Chris mentioned the same in the Slack, and it's working for you now. Good to know :)

[2017-07-07 08:59] #71 closed, assigned to nobody

[2017-07-07 09:03] sahiljuneja commented on #72
Although "a priori" probably does fit here as well, but I have edited it to avoid confusion. Thanks!

[2017-07-07 09:03] #72 closed, assigned to sahiljuneja

[2017-07-07 12:13] tiedyedguy commented on #72
Silly me, I didn't even know priori was even a word.  It shows as a typo in my browser is how I noticed it.

[2017-07-08 09:27] lisajlau opened #73 "Inconsistent notation for rotation"
In kinematics -> forward kinematics, lectures 7 video and lecture 8, there is an inconsistency in notation for rotation.
Lecture 7 states for an extrinsic rotation
Rzyx = Rx*Ry*Rz

In lecture 8, along a rotation in x-y-z,
Rzyx = Rz*Ry*Rx

Would have shared a snapshot but can't seem to be able to attach anything

[2017-07-08 09:28] lisajlau commented on #73
[Uploading Pasted image at 2017_07_06 03_44 PM.png...]

[2017-07-08 09:29] lisajlau commented on #73
[Uploading Screenshot_20170706-083221~2.png...]

[2017-07-09 22:30] gpavlov2016 opened #74 "error when running safe_spawner.sh"
[ERROR] [1499639301.473394408, 1113.672000000]: Failed to fetch current robot state
[trajectory_sampler-1] process has died [pid 24948, exit code -11, cmd /home/robond/catkin_ws/devel/lib/kuka_arm/trajectory_sampler __name:=trajectory_sampler __log:=/home/robond/.ros/log/0948f392-64e9-11e7-9385-000c292fac5a/trajectory_sampler-1.log].
log file: /home/robond/.ros/log/0948f392-64e9-11e7-9385-000c292f

[2017-07-11 17:20] sychaichangkun opened #75 "Forward and Inverse Kinematics, Lesson 8"
The solution of Lesson8 Euler Angles from a Rotation Matrix, in Forward and Inverse Kinematics, is obviously wrong.

[2017-07-11 17:30] sahiljuneja commented on #75
Hey, could you provide more details on what you think is wrong so that we can look into it accordingly?

[2017-07-12 07:53] sychaichangkun commented on #75
@sahiljuneja
The solution is like this:
beta  = atan2(-r31, sqrt(r11 * r11 + r21 * r21)) * rtd
gamma = atan2(r32, r33) * rtd
alpha = atan2(r21, r11) * rtd
print("alpha is = ",alpha, "radians", "or ", alpha*rtd, "degrees")
print("beta  is = ",beta,  "radians", "or ", beta*rtd, "degrees")
print("gamma is = ",gamma, "radians", "or ", gamma*rtd, "degrees")

-----------------------output---------------

[2017-07-12 14:13] sahiljuneja commented on #75
Aah, good catch. Thanks! Fixed.

[2017-07-12 14:14] #75 closed, assigned to sahiljuneja

[2017-07-18 08:24] JafarAbdi opened #76 "typo in Perception 4.7"
there's a typo in lesson 4 section 7 DBSCAN Clustering Steps step 1, contraints should be constraints

[2017-07-18 16:11] chedanix opened #77 "Typo in Rubric for Robotic Arm Project"
The second criterion of Kinematic Analysis says "generate a generalized homogeneous transform between base_link and gripper_link using only end-effector(gripper) pose."

The end-effecotr pose is NOT needed to generate the transfrom.

Please also fix the same typo in the paragraph on the right.

[2017-07-18 16:17] chedanix opened #78 "typo in Lesson 2 "Forward and Inverse Kinematics""
--Go to 13. DH Parameter Assignment Algorithm.
--Look at step 6. The endpoints of .......
--There is a typo in "For i from 1 to n", it should be "from 1 to n-1" because n refers to the end effector.

[2017-07-18 18:21] ryan-keenan commented on #76
Great catch!  thanks for reporting, fixed now

[2017-07-18 18:22] #76 closed, assigned to ryan-keenan

[2017-07-19 03:08] sachin3 opened #79 "Kinematics - Inverse Kinematics Example typo error"
This sentence seems to mention x-z plane instead of y-z place.
"To solve for 𝜃2, imagine 𝜃1 = 0 and project links 2 and 3 onto the the x-z plane. Again, we use the atan2 function,"
Diagram at the top also clearly shows link projected to y-z plane.  x-z plane seems to be typo error.

[2017-07-19 16:23] kylesf commented on #34
Updated VM will be in classroom by EOD

[2017-07-19 16:23] #34 closed, assigned to kylesf

[2017-07-19 16:23] kylesf commented on #30
Updated VM will be in classroom by EOD

[2017-07-19 16:23] #30 closed, assigned to kylesf

[2017-07-19 16:23] #26 closed, assigned to kylesf

[2017-07-19 17:17] christiansafka commented on #54
I was away for a couple weeks, and yes this is still an issue.  Another case of this has just been reported on Slack, and I will ask the person to post specs here.  @kylesf Can you re-open the issue?

[2017-07-19 17:23] kylesf commented on #54
I will reopen for a few days. We do not offer support for anything other than the provided VM. If you are able to propose a solution to help other students we can share that.

[2017-07-19 18:28] ghost opened #80 "Link for Miura-ori Pattern does not work"
Under the video link to the "page not found". You got to remove the last letter from the link (not jpgl).

http://cohengroup.lassp.cornell.edu/userfiles/origami/MakeYourOwnMiura.jpgl

[2017-07-19 21:18] kylesf commented on #80
Thanks, fixed!

[2017-07-19 21:18] #80 closed, assigned to nobody

[2017-07-20 17:13] kylesf commented on #48
Fixed with updates. Thanks!

[2017-07-20 17:13] #48 closed, assigned to nobody

[2017-07-20 17:13] kylesf commented on #50
Fixed with updates. Thanks!

[2017-07-20 17:13] #50 closed, assigned to nobody

[2017-07-20 17:14] kylesf commented on #52
Fixed with updates. Thanks!

[2017-07-20 17:14] #52 closed, assigned to nobody

[2017-07-22 01:42] adammalpass opened #81 "Soft Robotics - Missing Link"
In the Soft Robotics section, "A Hybrid Combining Hard and Soft Robots" paper doesn't have a link to the full text. I found this version on Google Scholar:

https://dash.harvard.edu/bitstream/handle/1/12388522/34103585.pdf?sequence=1

[2017-07-22 02:20] adammalpass opened #82 "Soft Robotics - Schedule"
Soft Robotics schedule for the week says it covers Github, but actually that was in the previous session. This time is about LinkedIn.

[2017-07-22 08:08] sychaichangkun opened #83 "Calibration, Filtering and Segmentation, Lesson 8"
In Lesson 8 Point Cloud Filtering, there should be 5 filters to be explored. They are:

VoxelGrid Downsampling Filter
PassThrough Filter
RANSAC Plane Fitting
ExtractIndices Filter
Outlier Removal Filter(Statistical Outlier filter)

[2017-07-25 15:05] kylesf commented on #83
Thanks, updated!

[2017-07-25 15:05] #83 closed, assigned to nobody

[2017-07-25 15:11] kylesf commented on #82
Thanks Adam, fixed!

[2017-07-25 15:11] #82 closed, assigned to nobody

[2017-07-25 15:12] kylesf commented on #81
Fixed!

[2017-07-25 15:12] #81 closed, assigned to nobody

[2017-07-25 15:14] kylesf commented on #64
We have moved this into internal tickets and assure you its being addressed! Thanks for your input!

[2017-07-25 15:14] #64 closed, assigned to nobody

[2017-07-25 15:14] kylesf commented on #60
We have moved this into internal tickets and assure you its being addressed! Thanks for your input!

[2017-07-25 15:14] #60 closed, assigned to nobody

[2017-07-25 15:14] kylesf commented on #53
We have moved this into internal tickets and assure you its being addressed! Thanks for your input!

[2017-07-25 15:14] #53 closed, assigned to nobody

[2017-07-25 15:14] kylesf commented on #51
We have moved this into internal tickets and assure you its being addressed! Thanks for your input!

[2017-07-25 15:14] #51 closed, assigned to nobody

[2017-07-25 15:14] kylesf commented on #49
We have moved this into internal tickets and assure you its being addressed! Thanks for your input!

[2017-07-25 15:14] #49 closed, assigned to nobody

[2017-07-25 15:15] kylesf commented on #70
We have moved this into internal tickets and assure you its being addressed! Thanks for your input!

[2017-07-25 15:15] #70 closed, assigned to nobody

[2017-07-25 15:15] kylesf commented on #69
We have moved this into internal tickets and assure you its being addressed! Thanks for your input!

[2017-07-25 15:15] #69 closed, assigned to nobody

[2017-07-25 15:16] kylesf commented on #61
Thanks, for your feedback. We will have a walkthrough video released today hopefully that will help guide a better understanding of the project! We will also make sure we address these concerns in future videos!

[2017-07-25 15:16] #61 closed, assigned to thomas-at-em

[2017-07-25 15:17] kylesf commented on #57
More content and supporting materials are coming!

[2017-07-25 15:17] #57 closed, assigned to nobody

[2017-07-25 15:18] kylesf commented on #56
We are actively assessing the quality of our mentors based on feedback and strive to only provide the best experience. Rest assured it is an important matter for us and hope your future experiences are better!

[2017-07-25 15:18] #56 closed, assigned to nobody

[2017-07-25 15:19] kylesf commented on #59
LiveHelp and its mentors are being improved daily. A course wiki is being established and many other things are being put in place (such as office hours) to close this gap. Thanks for your thoughts!

[2017-07-25 15:19] #59 closed, assigned to nobody

[2017-07-25 15:20] kylesf commented on #65
Updates to this @frozenamazon ?

[2017-07-25 15:22] kylesf commented on #58
Thanks for your concerns. We are actively trying to maintain the highest quality. I will pass your feedback along!

[2017-07-25 15:22] #58 closed, assigned to nobody

[2017-07-25 17:56] sahiljuneja commented on #79
That's not a typo. That's correct. Setting theta 1 to 0 would mean the x-z plane. For y-z plane, theta 1 would have to be 90.

[2017-07-25 18:19] ruffson commented on #54
Same issue here. Tried everything. At least you can enable the collision model in rviz so that you see some kind of visual...

[2017-07-25 18:29] #79 closed, assigned to sahiljuneja

[2017-07-25 18:30] #67 closed, assigned to sahiljuneja

[2017-07-26 22:15] hvpandya commented on #46
This is a gazebo issue (have been experiencing this for years now) and not something we can resolve.

`gzserver` is the culprit most of the times as it keeps hanging around after a crash, waiting for certain processes to die elegantly.

As I mentioned before, this is not something we can resolve, hence closing the ticket.

[2017-07-26 22:15] #46 closed, assigned to nobody

[2017-07-26 23:21] sachin3 commented on #79
Yes in terms of theta1 = 0 (didn't pay attention to that), it is x-z plane. But I was referring to diagram and theory on the same page, where it seems calculations are done on y-z plane. After discussing this issue with Live Support and making sure my understanding was correct,  I have reported the issue here.  To me also seems diagram and this sentence is not in sync.

[2017-07-28 03:13] adammalpass opened #84 "Incorrect project reference in training_helper.py"
In the perception Exercise 3 there is a training_helper.py file with some helper functions.

FYI in the copyright at the top it says it is for the Robotic Arm Pick & Place project, but it is not. It is for the Perception exercises.

https://github.com/udacity/RoboND-Perception-Exercises/blob/master/Exercise-3/sensor_stick/src/sensor_stick/training_helper.py

[2017-07-28 03:19] kylesf commented on #84
Fixed, thanks!

[2017-07-28 03:19] #84 closed, assigned to nobody

[2017-07-28 03:20] #65 closed, assigned to nobody

[2017-07-28 03:21] kylesf commented on #63
Added some new modules and a video walkthrough! Thanks for the feedback!

[2017-07-28 03:21] #63 closed, assigned to nobody

[2017-07-28 03:21] kylesf commented on #74
Is this error still and issue for you?

[2017-07-28 03:28] kylesf commented on #77
Fixed, thanks!

[2017-07-28 03:28] #77 closed, assigned to nobody

[2017-07-28 03:32] kylesf commented on #78
I am not sure what you mean. Can you elaborate?

[2017-07-28 03:35] adammalpass opened #85 "Lesson 5-15 Train SVM - Normalised plot axis not scaled correclty"
The SVM generates two confusion matrices, with and without normalisation. On the right hand side the confusion matrix has been correctly normalised, however its axis has not been  updated (it still uses the same range as before normalisation). You can see clearly in the image shared in the lesson:

https://d17h27t6h515a5.cloudfront.net/topher/2017/July/59726c76_screen-shot-2017-07-21-at-2.04.36-pm

[2017-07-28 04:21] chedanix commented on #78
![capture](https://user-images.githubusercontent.com/17792941/28702304-c10ee7e8-7321-11e7-9a22-c7bebe64e139.PNG)

The initial frame and the end-effector frame should be treated differently, but the "n" in the picture refers to the end-effector frame. Let me know what you think. I could be wrong.

[2017-07-28 09:33] lisajlau commented on #65
I was referring to the kinematics project. But I see improvement on the perception project. Sorry didn't see the notifications , everything went to spam.

[2017-07-28 14:12] kylesf commented on #65
Well Kinematics has been updated and additional content added!

[2017-07-30 13:55] yannrs opened #86 "Project Perception - Launch Demo code failed to load (VM 2.1.0)"
Unable to download model[model://dropbox/meshes/dropbox.dae]

Full Error log:
 /pr2/right_arm_controller/action_monitor_rate: 30
 * /pr2/right_arm_controller/constraints/goal_time: 10.0
 * /pr2/right_arm_controller/gains/right_elbow_flex_joint/d: 1
 * /pr2/right_arm_controller/gains/right_elbow_flex_joint/i: 0.01
 * /pr2/right_arm_controller/gains/right_elbow_flex_joint/p: 100
 * /pr2/right_arm_co

[2017-07-31 13:38] sychaichangkun commented on #86
+1

[2017-07-31 14:05] kylesf commented on #78
Okay, great. Made that fix. Thanks!

[2017-07-31 14:05] #78 closed, assigned to thomas-at-em

[2017-07-31 14:45] kylesf commented on #86
What are the resources that you are currently providing your VM?

[2017-07-31 15:11] yannrs commented on #86
I tried several times (>5 times) with 4 cores, 2Go of Ram and 512Mo GPU, and with 6cores. (i7-3630QM 2.4GHz to 3.4GHz), while only 600Mo of Ram is used.
I also tried with the VM 2.0.1 with the same results.

[2017-07-31 15:14] yannrs commented on #86
I also tried with the last version of the github (today) with the same results.

[2017-07-31 15:33] kylesf commented on #86
A solution is in the works. Will keep you updated!

[2017-07-31 22:07] gpavlov2016 commented on #74
With the new VM (2.1.0) I have another problem blocking me from reproducing the original issue - the RVIZ splash screen is stuck at "Initializing" when calling roslaunch kr210_claw_moveit demo.launch but when running rosrun rviz rviz the application opens immediately
![image](https://user-images.githubusercontent.com/16441017/28800535-e5e40110-7601-11e7-8bdb-f6e3ddd8aaa6.png)

[2017-07-31 22:55] kylesf commented on #74
Does running the project demo work?

[2017-07-31 23:08] gpavlov2016 commented on #74
No, the problem I described is from running the project demo

On Mon, Jul 31, 2017 at 3:55 PM Kyle Stewart-Frantz <
notifications@github.com> wrote:

--
Best regards,
Guy Pavlov
http://guypavlov.com
http://linkedin.com/in/guypavlov
https://github.com/gpavlov2016

[2017-07-31 23:19] kylesf commented on #86
The project repo has been updated to fix this issue!

[2017-07-31 23:19] #86 closed, assigned to nobody

[2017-08-01 12:42] yannrs commented on #86
Thanks ! Looks better

[2017-08-01 13:03] dandrews7396 opened #87 "Lesson 5.8 - Surface Normals, Graphic Improvements"
The Graphic that is shown at 1:12 could be made more clear.

The arrows showing the normal to each side of the shapes would be improved by pointing in their correct plane, and from each visible side.

for example:

- The sphere should be covered in normals (within reason)

- The Cuboid and Pyramid should have a normal originating from the centre of each visible side.

Currently the Sphere shows a

[2017-08-01 14:14] sahiljuneja commented on #87
To my knowledge, this is being worked upon for improvement. Hopefully, will have an update on it soon in the classroom.

[2017-08-02 15:12] kylesf commented on #73
@sahiljuneja Did we make a JIRA ticket for this?

[2017-08-02 15:22] sahiljuneja commented on #73
No need. I just fixed it. Will close this now.

[2017-08-02 15:22] #73 closed, assigned to sahiljuneja

[2017-08-02 16:51] kylesf commented on #17
@sahiljuneja Did this ever get fixed to your knowledge?

[2017-08-02 20:08] sahiljuneja commented on #17
Nope. Just checked. The JIRA ticket is unresolved (in review) and they will get to it I'm sure. So I will close this since it's in the system and is not of high priority.

[2017-08-02 20:08] #17 closed, assigned to ryan-keenan

[2017-08-02 20:53] ryan-keenan commented on #85
Great catch Adam!  I just fixed this.  It was a matter of moving the image normalization up to before `plt.imshow()`.  Previously even though the numbers were different, the background image in both plots was the same, leading to the colorbar being the same too!

[2017-08-02 20:53] #85 closed, assigned to ryan-keenan

[2017-08-02 21:45] chedanix opened #88 "Typo in Perception Lesson 5 Section12"
I believe it should be "row" instead of "column". I will attach some pictures.

**Edit: It appears that I understood what "feature" means. You may close the issue.**

[2017-08-02 21:46] chedanix commented on #88
![Capture.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5946b6ce9340d0001afaf0dc/125516c66e82c728ace21e0d46cb958a379791accda5fd53b652fa912a5265296b51fa7923d1e770e6137f555f5c4aac41515d44aefadc22a4a42062c80d55b98e30063e937f03a6aa811eb500bf208a4884b6bf8c4cc9ee3a37aa.PNG)

[2017-08-02 21:50] chedanix commented on #88
![capture1](https://user-images.githubusercontent.com/17792941/28896780-77b7bc10-77a3-11e7-9b8c-74b95fb56a4f.PNG)

Assuming [1,1,1] is a feature (or a color histogram) of a picture, the feature will become the row of the vstacked array. Therefore, I think each feature should occupy a row of the vstacked array, instead of a column.
I could be mistaken, let me know what you think.

[2017-08-02 22:25] rdspring1 opened #89 "Error initializing Outlier Removal Filter using make_statistical_outlier_filter()"
`outlier_filter = pcl_data.make_statistical_outlier_filter()`
Error: `TypeError: __cinit__() takes exactly 1 positional argument (0 given)`

[2017-08-02 22:32] rdspring1 commented on #89
There is a mistake in the python-pcl build. The constructor for the filter requires the input point cloud as an argument, but the python interface is not passing the argument.

Here is my fix:
Summary: Remove the unnecessary argument and then reinstall python-pcl.

# Part 1:
In pcl/pxi/Filters/StatisticalOutlierRemovalFilter_172.pxi

Change
[code]
to
[code]
Repeat for all instance of the construct

[2017-08-03 00:43] #88 closed, assigned to nobody

[2017-08-03 01:42] ryan-keenan commented on #89
Thanks for debugging this!  I've tested and confirmed that this fix works and pushed the change to the RoboND-Perception-Exercises repo.

[2017-08-03 01:43] #89 closed, assigned to ryan-keenan

[2017-08-03 13:35] sychaichangkun opened #90 "Lesson5, exercise3.A big cude in Gazebo when capturing features"
When capturing features in exercise 3, sometimes a big cube would appear and stay still, it's not supposed to be in the model list.

[2017-08-03 16:38] ryan-keenan commented on #90
Thanks for reporting this!  I haven't seen that behavior myself.  Are you using the VM or local Linux/ROS install?

[2017-08-04 08:08] adammalpass opened #91 "Feedback - Github commit messages lack detail"
Hi team,

Firstly thanks for making quick changes to the project files in GitHub when we find some bugs. But just one request, please can you add more detailed commit messages so it is easy to tell what has been changed? For example a recent commit to the Perception project simply said "Update project_template.py". It's hard to tell if this is a large critical update that needs integrating into ou

[2017-08-04 08:09] adammalpass commented on #91
*Also it would set a good role-model for other students how to use GitHub properly! Thanks!

[2017-08-04 11:22] thatting opened #92 "Lesson 6 - Perception project - I don't see the gazebo world."
In lesson 6.4 "Project Demo" .- Once Gazebo is up and running, I do not see following objects in the Gazebo world:

    Robot
    Table arrangement
    Three target objects on the table
    Dropboxes on either sides of the robot

Instead, I just see a simplifed picture of the PR2 with no detailed objects.

As instructed, I have removed the 'gazebo_grasp_plugin' directory from the `RoboND-Perceptio

[2017-08-04 11:24] thatting commented on #92
I have attached snapshot from Gazebo:

![gzclient_camera-2017-08-04t04_07_12 960232](https://user-images.githubusercontent.com/28136550/28966690-f8e0be98-7917-11e7-9cbd-d029fa3771c9.jpg)

[2017-08-04 11:30] sahiljuneja commented on #92
Hey. This usually happens when your GAZEBO_MODEL_PATH is not properly set in `.bashrc`. I suggest you double-check that.

[2017-08-04 13:06] thatting commented on #92
Thanks.  I got the project demo to work now :-)

I double-checked my .bashrc file and have made a few corrections. The objects load fine now (robot + table arrangement + target boxes + dropboxes).

a) I had placed line:

"source ~/catkin_ws/devel/setup.bash"

before line:

 "export GAZEBO_MODEL_PATH=~/catkin_ws/src/RoboND-Perception-Project/pr2_robot/models"

I have rearranged these in opposite or

[2017-08-04 13:12] sahiljuneja commented on #92
That's awesome! Thanks for confirming. Good luck with the project! :)

[2017-08-04 13:12] #92 closed, assigned to nobody

[2017-08-04 15:00] ryan-keenan commented on #91
Great feedback Adam!  We will try to write better commit messages going forward ;)

[2017-08-04 15:00] #91 closed, assigned to ryan-keenan

[2017-08-05 13:35] sychaichangkun commented on #90
I'm using local Linux+ROS, but a student from live help reported that issue using VM.

[2017-08-09 03:29] Youssef-Khaky opened #93 "Hyperlink not working"
3. Experiment with the forward_kinematics environment and get familiar with the robot (details here)

this line is in the Project Submission section of the second project

[2017-08-09 03:44] sahiljuneja commented on #93
Updated. Thanks!

[2017-08-09 03:44] #93 closed, assigned to sahiljuneja

[2017-08-09 22:01] kylesf commented on #54
Are there updates to this matter?

[2017-08-09 22:23] Youssef-Khaky opened #94 "I have checked off the box that says "dont show me this again" but it still shows up"
When I log into the nano-degree, the live help section pops up and tells me that I can use it if I am stuck, but it keeps coming back again even though I said not to show it again.

[2017-08-10 00:16] sachin3 opened #95 "Video and theory defining D-H parameters are not in sync"
In theory, Xi is defined as per Z(i) and Z(i+1) but while explaining the same concept, instructor mentions it Z(i) and Z(i-1), which is incorrect. A diagram which shows X2 in the same video is drawn as per the explanation is given in theory.
Video link - (around 1:15 timeline) https://classroom.udacity.com/nanodegrees/nd209/parts/7b2fd2d7-e181-401e-977a-6158c77bf816/modules/8855de3f-2897-46c3-a805

[2017-08-10 01:16] sahiljuneja commented on #95
Hey, I believe this is in relation to the discussion you were having with another student in the Slack?

If so, then for calculating X_2 you have Z_2 and Z_3 as parallel axis and therefore the assignment is arbitrary as has been mentioned in the classroom (although, in many cases, it is also relatively simple to have it assigned as the common normal between the two)

I believe you also came to the

[2017-08-10 01:30] sachin3 commented on #95
Hi.
Yes, that discussion was revolving around this point.
But this issue is different... have you checked video where the narrator was mentioning Z(i) and Z(i-1) instead of Z(i) and Z(i+1)? Is that correct?

[2017-08-10 01:36] sahiljuneja commented on #95
Yes, I am looking into that now. It is still correct in terms of having it defined in that way as the common normal between the two, but I am looking into consistency on the phrasings to be less confusing. Thanks for pointing this out. Opening this ticket for now.

[2017-08-10 01:45] sachin3 opened #96 "Video and theory about D-H x parameter explanation is not in sync"
Sorry for logging this issue again. I feel the actual issue is not addressed yet.

This video -
https://classroom.udacity.com/nanodegrees/nd209/parts/7b2fd2d7-e181-401e-977a-6158c77bf816/modules/8855de3f-2897-46c3-a805-628b5ecf045b/lessons/87c52cd9-09ba-4414-bc30-24ae18277d24/concepts/2f59c902-9c32-4b26-9e52-5e495ec14dba

Timeline - 1:32 -> The X-axes define the common normals between Z_i-1 and Z_

[2017-08-10 01:46] sachin3 commented on #96
Correct video link referred above - https://classroom.udacity.com/nanodegrees/nd209/parts/7b2fd2d7-e181-401e-977a-6158c77bf816/modules/8855de3f-2897-46c3-a805-628b5ecf045b/lessons/91d017b1-4493-4522-ad52-04a74a01094c/concepts/398f60b1-b112-41ec-b8bc-59e95a2cec70

[2017-08-10 01:49] sachin3 commented on #95
Oops, I logged another issue as there was no way to open this one again.

Yes, diagram and earlier theory in the lesson are in sync but just video caption.

[2017-08-10 01:50] sahiljuneja commented on #96
I have already reopened your previous issue and pointed that I am looking into it. I will close this one to avoid duplicates.  Thanks!

[2017-08-10 01:50] #96 closed, assigned to nobody

[2017-08-10 01:52] sahiljuneja commented on #94
Hey, could you please email mentorship-support@udacity.com about this? The right team can then look into it directly and follow-up with you if needed for anything. Thanks!

[2017-08-10 01:52] #94 closed, assigned to nobody

[2017-08-10 15:53] mi7flat5 opened #97 "Typos Perception Project"
In section 3 'Environment Setup' 'export GAZEBO_MODEL_PATH=~/catkin_ws/src/RoboND-Perception-Project/pr2_robot/models:$GAZEBO_MODEL_PATH
'
does not work for me, I had to add brackets to GAZEBO_MODEL_PATH

export GAZEBO_MODEL_PATH=~/catkin_ws/src/RoboND-Perception-Project/pr2_robot/models:${GAZEBO_MODEL_PATH}

In section 6 'Output yaml file' The command '$ rosmsg info geomtery_msgs/Pose' geometry i

[2017-08-10 17:10] sahiljuneja commented on #97
Fixed the typo, thanks!

As for the brackets, that hasn't been the case for anyone till now. Are you working on the VM? Not sure why that would happen. What exactly do you face if you don't use brackets?

[2017-08-10 17:20] mi7flat5 commented on #97
I'm on a local install of ubuntu. I've had that line work in the VM and another local install but not this one, it fails to find the models. After doing some google searching I have found that the brackets are common and it fixed my issue, so perhaps it is a more general approach? If not disregard. for reference http://answers.gazebosim.org/question/1940/problem-with-including-a-model/

[2017-08-12 06:05] sahiljuneja commented on #90
Is this still an issue? Because we have been unable to reproduce this on the VM as of now to be able to pinpoint what could be causing it.

[2017-08-14 18:17] jchernus commented on #90
I experience this too.  Running in VM.

[2017-08-15 16:47] vaer-k opened #98 "Poorly structured reference to lesson material"
In lesson 5 section 17 the following statement is made: "First you have to build out your node for segmenting your point cloud. This is where you'll bring in your code from Exercises 1 and 2." It's not clear what this text refers to. I think the reference to "exercises 1 and 2" should be more specific or even link directly to the content. Reading this after a brief hiatus from studies, I have no i

[2017-08-15 17:02] sahiljuneja commented on #98
I have added links to the beginning sections for each Exercise to make it easier to go through and revise those sections. Thanks!

[2017-08-15 17:02] #98 closed, assigned to sahiljuneja

[2017-08-16 01:44] ranakhalil opened #99 "..."

[2017-08-16 01:55] #99 closed, assigned to nobody

[2017-08-17 09:27] adammalpass opened #100 "Controls 1-13 PD Controller - Graph Legend Wrong"
In the controls section, lesson 1-13 "Building a PD controller" there is an image of the graph showing the expected output. However the legend shows 'u_p' and 'u_i' (suggesting proportional and integral), however since the lesson is about PD it should be updated to 'u_d'

[2017-08-17 09:28] adammalpass commented on #100
Also in the pd_controller.py code file it says "# Good luck designing your proportional integral controller!" --> This should also be updated to 'Proportional Differential'.

[2017-08-17 11:55] ongchinkiat opened #101 "Controls Lesson 2.7 Typo"
A small typo in Lesson 2.7: If you are running the simulator from outside of the virtual machine (which you should be) It should be set to false.

It should be set to "true".

[2017-08-17 12:05] dandrews7396 opened #102 "Controls lesson 1.5"
quiz asks for the minimum control effort for the quadrotor to lift, to 5s.f. It accepts the answer 1.5107, which is taken from the result of g*m/c (1.51074). However, as is it even stated within the code, the quadrotor will not take off until the control force is greater than g*m/c. This means that the required answer of 1.5107 is incorrect and, as the actual required force is 1.51075, should be 1

[2017-08-17 15:56] kylesf commented on #102
Fixed, thanks!

[2017-08-17 15:56] #102 closed, assigned to nobody

[2017-08-17 16:02] kylesf commented on #101
Thanks! Fixed!

[2017-08-17 16:02] #101 closed, assigned to nobody

[2017-08-19 10:42] estringana opened #103 "Mistake on solution of Lesson1-21 of Controls"
Looking at the solution proposed, the following mistake was spotted
[code]
That condition will be never evaluated to true. However, the solution still works

[2017-08-19 13:06] adammalpass opened #104 "Issue with Launch File for Write ROS Nodes 3-10 'Look away'"
I had an issue running the look_away code in the Write ROS nodes section 3-10. Finally I managed to trace the issue back to the way the launch file is set up in section 3-10. There can exist a race condition whereby the look_away node starts up before the arm_mover node is ready and hence the look_away node's look_away_callback function gets permanently stuck at the 'rospy.wait_for_service('/arm_m

[2017-08-19 14:14] adammalpass commented on #104
Btw I created and tested a safe_spawner.sh script to fix this issue. Now the project runs with no issues. I created a pull request on the simple arm repo to add this script, so if you like please accept so other students can share it :)

[2017-08-19 19:52] General-Sax opened #105 "pick&place project description (20): broken links"
Under step 6 In the numbered list, "Steps to complete the project", both of the links ('here' & 'here') are 404'd.

[2017-08-21 12:51] kylesf commented on #105
Fixed them. Thanks!

[2017-08-21 12:51] #105 closed, assigned to nobody

[2017-08-21 13:00] kylesf commented on #100
On it!

[2017-08-21 19:13] thomas-at-em commented on #103
You are absolutely right. Thanks very much for reporting! Should be fixed now.

[2017-08-21 19:14] #103 closed, assigned to thomas-at-em

[2017-08-21 19:58] kylesf commented on #100
Fixed!

[2017-08-21 19:58] #100 closed, assigned to nobody

[2017-08-24 01:42] sychaichangkun opened #106 "Intro to controls, lesson 18"
the solution to the exercise calculate d via `d = self.kd_ * (self.alpha * delta_error / delta_time + (1 - self.alpha))`.   It seems incorrect. In lesson 18, it's told D[k] = alpha * delta_error/delta_t + (1-alpha)*D[k-1]. I think it should be `d = self.kd * self.alpha * delta_error / delta_time + (1 - self.alpha) * d_last`

[2017-08-24 02:06] sychaichangkun commented on #106
Sorry, I mean lesson 22, the solution seems incorrect

[2017-08-24 15:48] beliu opened #107 "Search and Map Telemetrics including Negative Angles in CSV"
The telemetry of the rover for this project should be between 0 and 360. However, the csv output shows negative numbers (-0.0001 to -0.001).

[2017-08-25 14:37] adammalpass opened #108 "Controls Lesson 2-12 Broken Link"
The link back to dynamic config section is broken. It refers to the beta version of the nanodegree and so can't be accessed.

[2017-08-25 14:39] adammalpass commented on #108
Link in 2-13 to cascade control section has same problem, referring to beta ND

[2017-08-25 14:39] adammalpass commented on #108
And link in 2-13 to dynamic reconfig

[2017-08-25 18:54] jupidity opened #109 "controls lesson 2-5"

[2017-08-25 18:59] jupidity commented on #109
I'm nitpicking a bit here, but on the question regarding what parameters need to be zero for a quadcopter to hover, the answer is only true if the force vector points along the negative z axis, which isnt true in the presence of wind or other external forces.

For example if the net force vector on the copter pointed along either the x or y axis slightly, you would need to counteract that with non

[2017-08-25 19:11] jupidity commented on #109
Actually, I just realized that it's probably in the context of determining the zero parameters for the hover controller in the Unity sim, which has ideal conditions. So maybe better to leave it.

But it is paired with an overview of statics, which essentially says the rpy angles could be non-zero while hovering in the presence of external forces besides gravity, so maybe its still worth addressing

[2017-08-25 19:31] lisajlau opened #110 "control lesson 1: tuning strategies 2"
in the solution.py, the cost is set to best_cost on line 139. I think this is an error, and should be removed. It is followed by an if statement that compares cost and best_cost, which would always return false
line 139: best_cost = cost
line 141: if cost < best_cost:

[2017-08-25 19:32] lisajlau commented on #110
according to the image, it is set after the comparison has been done.

[2017-08-27 03:22] Kni8tF0x opened #111 "Make Reflection Quizzes Editable"
In the Controls Lessons, there are several quizzes where we are provided with the opportunity to vary some code parameters and reflect on the effects they have on the result. It would be nice if we could edit our entries once they have been submitted, in order to correct typos or add more information.

[2017-08-27 15:00] croomjm opened #112 "Fix training_helper.py glitches/crashing"
Master version of src/sensor_stick/training_helper.py has the following issues:
1) Object may not always be deleted between object types, so the new model may not get loaded.
2) Occasional crashes due to attempting to spawn new model with the same name before the old model has been deleted.
3) If the script is stopped with an interrupt, gazebo has to be rebooted to start capturing again since the

[2017-08-27 16:40] croomjm opened #113 "Perception objects levitate away"
Due to lack of friction and low mass, some of the objects in both the perception exercise 3 and project (especially the create) slowly glide away from initial state even with no applied force. Objects should be updated with appropriate friction/mass. Objects in perception exercise 3 could be fixed in space since they don't need to be grabbed.

[2017-08-28 02:40] yuan0623 commented on #90
I'm experiencing the big cube, what's that?

[2017-08-28 21:10] kylesf commented on #112
@hvpandya Thoughts on this?

[2017-08-28 21:10] kylesf commented on #113
@hvpandya Thoughts on this?

[2017-08-28 21:10] kylesf commented on #111
I will check this out, thanks for the feedback!

[2017-08-28 21:13] kylesf commented on #109
We will keep this in mind. Thanks for the feedback!

[2017-08-28 21:22] kylesf commented on #108
Fixed, thanks!

[2017-08-28 21:22] #108 closed, assigned to nobody

[2017-08-28 21:26] kylesf commented on #90
@hvpandya Any idea what the cube may be?

[2017-08-28 21:27] #54 closed, assigned to nobody

[2017-08-28 21:28] kylesf commented on #74
What resources have you allocated to the VM?

[2017-08-28 21:36] kylesf commented on #104
I will check this out. Thanks :)

[2017-08-28 22:48] adammalpass commented on #111
Ah yes I noticed that too! I just added my first iteration, saved, and then couldn't change again... would be great to update this!

[2017-08-28 22:50] kylesf commented on #111
Working on looking into guys!

[2017-08-28 22:51] adammalpass opened #114 "Controls 2-13 Attitude Controller launch"
As just discussed with Kyle and Brandon on Slack the hover node _must not_ be running whilst attitude controller is. Already Kyle removed the note that alluded to this, but would be better to explicitly state that they should not be run at same time.

Also I found that there seems to be some trash left in the comms somewhere and you have to restart the terminal / restart the sim in between closing

[2017-08-28 22:53] adammalpass opened #115 "Controls 2-14 Positional Controller Launch"
Similarly to #114 please add a note saying that hover controller and attitude controller launch file should not be running when positional controller launch is started.

And that a restart might be required to work correctly.

[2017-08-28 22:55] adammalpass opened #116 "Controls - Sim Comms Issues"
As discussed extensively on Slack we had many issues connected the sim to VM, especially with VMWare Fusion on Mac. Please add some notes to lesson to explain this and potential fixes for future students.

Also I noted that my ROS_IP seems to change sometimes after restarting the terminal in the VM, so must be careful to update the ros_settings file each time. Would be good to add a note mentionin

[2017-08-28 22:56] adammalpass opened #117 "Controls - zn_tuner and twiddle_tuner not giving useful results"
The automatic PID tuning scripts for hover controller do not give any useful results. They don't even produce enough thrust for the drone to lift-off the ground.

[2017-08-29 16:52] gurparteek commented on #102
1.510741 is also greater than 1.51074, so is 1.5107400000001, the greater number need not necessarily be 1.51075. The original answer of 1.5107 was correct.

[2017-08-29 19:00] kylesf commented on #102
Okay fair point, I will change back

[2017-08-29 19:09] dandrews7396 commented on #102
No it's not. I'm currently mobile, but if I remember correctly, the code
contains the conditional statement that it must be greater than, not equal
to. If it is equal to, then that condition will not be met and it will
fail. Maybe my example was flawed, but my statement still stands

On 29 Aug 2017 8:02 pm, "Kyle Stewart-Frantz" <notifications@github.com>
wrote:

Okay fair point, I will change bac

[2017-08-29 19:15] kylesf commented on #102
Made it 3 significant figures with 1.52 as answer.

[2017-08-30 17:05] zenetio opened #118 "crl TensorFlow L01E09"
Quiz: my answer matches the solution but when I run I am getting a "uninitialized value variable" error.

https://classroom.udacity.com/nanodegrees/nd209-beta/parts/4405411f-bdc8-43fb-9e2b-b4b98a61c760/modules/375d6b1e-b31a-4d2e-b33a-996167faf77e/lessons/a4a80417-00cb-4a9c-8cc4-3a091414baa2/concepts/1c06a07a-17d7-438e-b31f-2d86864410fc

[2017-08-31 12:55] adammalpass opened #119 "hover_twiddle_tuner_node never updates ki as it is commented out"
*I added pull request on Github to fix this - please check and accept!*

The hover_twiddle_tuner_node claims to update kp, ki and kd params, but I noticed ki is never actually updated, even though the printout to screen claims it has. I noticed the problem is that the line that sets ki has been commented out. I discussed this with original author Brandon Kinman and he confirmed this was added for

[2017-08-31 12:57] adammalpass commented on #104
Hi Kyle I had a email saying the pull request was good and accepted, but it doesn't seem to have made it into the repo yet for some reason. I'm not expert in pull requests, so please could you check? Thanks! :)

[2017-08-31 13:15] adammalpass opened #120 "Controls lab twiddle.py - not checking for <0 values of self.params[i]"
*I added pull request on Github to fix this issue - please check and accept! Thanks :) *

In the controls lab in the twiddle.py file the self.params[i] values should not be allowed to go below 0, but code doesn't check for this.
Sometimes when running the algorithm the values can be seen to go below 0.
I added a check if self.params_[i] < 0 then limit value to 0.

[2017-08-31 13:50] adammalpass opened #121 "Controls 1-22 Putting it all together - code outline is wrong!"
In controls 1-22 there is a code outline for PID controller, but if you follow the outline it will _not_ work! Look at this section:

[code]

[2017-08-31 13:53] adammalpass commented on #121
Also the solution.py on same page contains same issue - please fix too!

[2017-08-31 14:06] adammalpass commented on #117
Probably issue #121 is the root cause of this. I'll re-test can keep you posted.

[2017-08-31 14:14] kylesf commented on #121
Fixed, thanks adam!

[2017-08-31 14:14] #121 closed, assigned to nobody

[2017-08-31 14:21] kylesf commented on #120
Done, Thanks!

[2017-08-31 14:21] #120 closed, assigned to nobody

[2017-08-31 14:22] kylesf commented on #119
Fixed thanks!

[2017-08-31 14:22] #119 closed, assigned to nobody

[2017-08-31 14:22] kylesf commented on #118
@sahiljuneja Any input with this?

[2017-08-31 14:23] kylesf commented on #118
@zenetio In the future please your designated waffle board.

[2017-08-31 14:35] adammalpass commented on #117
Twiddle is now working after #121 fix!

[2017-08-31 14:37] kylesf commented on #117
Great!

[2017-08-31 14:37] #117 closed, assigned to nobody

[2017-08-31 22:03] sahiljuneja commented on #118
Which quiz in particular? ANd can you share the entire error you get?

[2017-09-01 09:51] thatting opened #122 "Controls 2.12 - rqt reconfigure fails"
Controls, lesson 2-12, "dynamic_reconfigure" - I cannot launch rqt_reconfigure with command: "$ rosrun rqt_reconfigure rqt_reconfigure"

These steps work fine:
a) Launch of roscore
b) Launch of drone simulator
c) Checking of topic /quad_rotor/pose for messages
d) Launch of hover controller node

However, when I try to launch the rqt_reconfigure instance, I get following error:

$ rosrun rqt_reconf

[2017-09-01 11:13] thatting commented on #122
(continued...) The rqt_reconfigure package is present on my 'old' VM (5.22.17) but, somehow, it is not present on my new VM (2.1.0):

**VM (v5.22.17):**
robond@udacity:~$ rospack find rqt_reconfigure
/opt/ros/kinetic/share/rqt_reconfigure

**VM (v2.1.0) :**
Do you want to source ROS in this workspace (y/n): y
ROS sourced!
robond@udacity:~$ rospack find rqt_reconfigure
[rospack] Error: package 'rqt

[2017-09-01 12:34] zenetio commented on #118
I found the issue. I forgot to use the initialization process.

[2017-09-01 12:35] sahiljuneja commented on #118
Oh cool. I will close this then.

[2017-09-01 12:35] #118 closed, assigned to sahiljuneja

[2017-09-01 17:40] thatting commented on #122
The problem has now been solved!   I ran the apt-get command below in the terminal instead of using menu option System Tools/ Software Updater in the VM:

sudo apt-get install ros-kinetic-rqt-reconfigure

So, rqt_reconfigure works now in my VM.

[2017-09-01 20:14] kylesf commented on #122
Cool, It seems this is installed in the current VM. Not sure what may have happened.

[2017-09-01 20:14] #122 closed, assigned to nobody

[2017-09-01 20:42] kylesf commented on #116
Made the changes!

[2017-09-01 20:42] #116 closed, assigned to kylesf

[2017-09-01 21:07] kylesf commented on #115
Added some verbiage!

[2017-09-01 21:07] #115 closed, assigned to kylesf

[2017-09-01 21:07] kylesf commented on #114
Added some verbiage!

[2017-09-01 21:07] #114 closed, assigned to kylesf

[2017-09-02 11:31] thatting opened #123 "Controls - Lesson 2.14 - Positional Controller"
I get an error when I carry out a roslaunch for the position controller in lesson 2.14. I don't know if it is related to tickets #114 and #115.  If I do an individual rosrun for the position controller node , it seems to work fine.  There is some kind of issue in the launch file of the position controller?

[2017-09-02 11:35] thatting commented on #123
Here is the output in my terminal: .....                                                                                                                                                                                                                    robond@udacity:~$ roslaunch quad_controller position_controller.launch
... logging to /home/robond/.ros/log/878fd22a-8fd2-11e7-a2e7-000c29100b05/ros

[2017-09-02 11:51] thatting commented on #123
If instead, I restart the system, and I carry out an individual rosrun for the position controller, the error does not appear.   Is it because the launch file for the position controller is trying to launch an instance of the attitude controller at the same time?  The output of the individual rosrun is shown below:.......................

[2017-09-02 12:34] thatting opened #124 "Controls - Lesson 2.12 - hover zn tuner node does not work"
I have problems running the script for the hover_zn_tuner_node.  I get an error saying that I don't have the matplotlib module?  I don't understand this?  I am using the latest VM (V2.1.0).  The script for the twiddle_tuner_node runs fine.

[2017-09-02 12:34] Deborah-Digges commented on #104
I spent about an hour wondering why `look_away` wasn't working! this turned out to be the issue. Quite frustrating really. Please could the lessons be updated to at least reflect the explanation given by @adammalpass

[2017-09-02 12:35] thatting commented on #124
Here is output of my terminal:......
robond@udacity:~$ rosrun quad_controller hover_zn_tuner_node
Traceback (most recent call last):
  File "/home/robond/catkin_ws/src/RoboND-Controls-Lab/quad_controller/scripts/hover_zn_tuner_node", line 3, in <module>
    import matplotlib.pyplot as plt
ImportError: No module named matplotlib.pyplot

[2017-09-02 12:37] thatting commented on #124
(continued)  robond@udacity:~$ rosrun quad_controller hover_twiddle_tuner_node
Initial Params: kp:0.0, ki:0.0, kd:0.0
iterations: 1 params: [0.0, 0.0, 0.0] best_run: 11601.7470335
iterations: 2 params: [0, 0.2, 0.2] best_run: 11522.6559698
iterations: 3 params: [0.22000000000000003, 0.19999999999999998, 0.19999999999999998] best_run: 11522.6559698
iterations: 4 params: [0.22, 0.19999999999999996,

[2017-09-02 13:04] thatting commented on #124
I have solved this problem now by running following command:

pip install matplotlib

I am not sure why the module was missing on the VM (I am using latest version: V2.1.0).  But it works now, and I able to run the hover_zn_tuner_node.

[2017-09-02 13:43] adammalpass commented on #104
@kylesf Thanks for accepting the pull request to add my safe spawner script. Perhaps you could also update the lesson notes to recommend using it to, to help other students avoid finding this issue? Thanks!

[2017-09-02 13:43] adammalpass commented on #104
@Deborah-Digges Glad it fixed your issue! Hopefully it can get added to lesson notes soon :)

[2017-09-02 16:30] Things2Connect commented on #123
I've managed to solve the issue now with help from others in the slack channel.

[2017-09-03 16:09] oldtopos opened #125 "Controls Lab - Normalize pid controller function name"

[2017-09-03 16:10] oldtopos commented on #125
The Controls lab code wants PID_Controller for the function name; the exercises want PIDController, meaning a simple copy-paste breaks the code in the lab

Normalize function name so it is exactly the same

[2017-09-03 16:25] oldtopos opened #126 "Quad sim crashes after zn tuner runs"

[2017-09-03 16:26] oldtopos commented on #126
OS X Sim - Sim crashes or shuts down after three zn_tuner runs.  Setting all dynamic parms to zero causes the failure.

[2017-09-03 23:16] lisajlau opened #127 "Controls - Lesson 2.6 and 2.10"
Just nitpicking, but 2.10 consists what is already in 2.6. Though I feel it should be in 2.10 than 2.6.

[2017-09-04 10:59] thatting opened #128 "Controls - Lesson 2.9 - rqt-plot does not work in V2.1.0?"
rqt_plot does not work on my VM (version V.2.1.0).

[2017-09-04 11:02] thatting commented on #128
I have carried out following steps to solve the problem:

a) Checked if package is present on build.

rospack find rqt_plot
[rospack] Error: package 'rqt_plot' not found

b) Similar to ticket #122,  I then installed the package with apt-get:

sudo apt-get install ros-kinetic-rqt-plot

However, this did not solve the problem.  When I ran rqt_plot, I got this error:

~$ rqt_plot
qt_gui_main() found

[2017-09-04 13:27] thatting commented on #128
Also, I have run command to list all current rqt plugins on my VM (V.2.1.0).

robond@udacity:~$ rqt --list-plugins
rqt_console.console.Console
rqt_dep.ros_pack_graph.RosPackGraph
rqt_image_view/ImageView
rqt_logger_level.logger_level.LoggerLevel
rqt_py_console.py_console.PyConsole
rqt_reconfigure.param_plugin.ParamPlugin
rqt_shell.shell.Shell
rqt_web.web.Web

I'm not sure.  It does not seem to be

[2017-09-05 01:55] Youssef-Khaky opened #129 "repeated word in Skills Recap lesson"
"..you combined your perception and and decision making robotics skills ..."
This can be found on the last udacity explores.

[2017-09-05 02:58] Youssef-Khaky opened #130 "Hyperlink not working"
In "Resume Review Project (Entry-level)" the hyperlink for "Professional Profile" is not working for me.

[2017-09-05 07:34] thatting commented on #128
The installed package for rqt_plot is now working on the VM.  The reason why I got "found no plugin" was because roscore was not running in the background.  With roscore running,  rqt_plot comes up fine.  So, rqt_plot works now.

[2017-09-05 18:06] kylesf commented on #125
Should be fixed already? Did quiz reset fix this?

[2017-09-05 18:08] kylesf commented on #126
Will look into it. Thanks!

[2017-09-05 18:08] kylesf commented on #111
Official ticket has been made!

[2017-09-05 18:10] kylesf commented on #123
What is the current status of this issue?

[2017-09-05 18:43] hvpandya commented on #113
The create does not glide because of lack of friction, it has a motion controller embedded in it since its motion is intentional (consider it an easter egg).

I do agree that at some point we should update all models with realistic mass, friction and damping properties but that is not something we will pursue in the near future. @kylesf Feel free to keep this ticket in the backlog.

[2017-09-05 18:44] hvpandya commented on #112
I believe this script was written by @bkinman

[2017-09-05 18:49] hvpandya commented on #90
The only two reasons for a cube to appear instead of a given model are:
1) Incorrect GAZEBO_MODEL_PATH in your .bashrc
2) The model file/s are not present at the location you defined as GAZEBO_MODEL_PATH

[2017-09-05 18:51] kylesf commented on #90
Thanks, Harsh. We will now close this issue.

[2017-09-05 18:51] #90 closed, assigned to nobody

[2017-09-05 18:51] #74 closed, assigned to nobody

[2017-09-06 00:27] chedanix opened #131 "Add instruction to change resolution of DroneSim"
For windows 10, using ctrl to open the software works.

[2017-09-06 12:03] thatting commented on #123
I tried to reboot the VM to remove the errror (as recommended on Slack channel for Controls).  Also, I ran a new catkin_make.  However, these actions did not remove the error in the end.

Instead, I managed to remove the error by modifying the script "position_controller_node", as below:

--> moved the line  "self.counter = 0" to the beginning of the constructor belonging to class PositionControll

[2017-09-06 13:26] sahiljuneja commented on #129
Could you please the specific name of the lesson and which section it was in?

For example " Udacity Explores - Robot Grasping, Cover Letter Review - Cover Letter Components" would be one good way to let us know of the section directly. Otherwise, it can be difficult to pinpoint it. Thanks! :)

[2017-09-06 18:18] thomas-at-em commented on #109
Thanks for the feedback. As you can see, it is a challenge to write questions that emphasize the intended concept and also avoid being overly pedantic. As you can see from the derivation of the nominal motor speed at an equilibrium hover, all four motors have the same angular speed, thus there could be no rotation about the bz-axis.  But I will add a note explicitly stating that all external distu

[2017-09-06 18:18] #109 closed, assigned to thomas-at-em

[2017-09-06 18:23] thomas-at-em commented on #110
This was reported by another student. I believe it should be fixed now.

[2017-09-06 18:23] #110 closed, assigned to thomas-at-em

[2017-09-06 20:19] thomas-at-em commented on #106
Yes, you are correct! Thanks for reporting that.

[2017-09-06 20:21] #106 closed, assigned to thomas-at-em

[2017-09-07 00:14] Youssef-Khaky commented on #129
Udacity Explores - SwarmRobotics --> Networking in Robotics --> skill recap

[2017-09-07 04:58] sahiljuneja commented on #129
Thanks! Fixed.

[2017-09-07 04:58] #129 closed, assigned to sahiljuneja

[2017-09-07 07:51] Youssef-Khaky opened #132 "XOR quiz update lesson 1.8 in deep learning"
In lesson 1: intro to neural networks, the quiz for XOR says "However, the perceptrons A , B, C, and D don't indicate their operation. In the following quiz, set the correct operations for the four perceptrons to calculate XOR."
The last AND is already filled up, there is no D.

[2017-09-07 08:04] sahiljuneja commented on #132
Fixed, thanks!

[2017-09-07 08:05] #132 closed, assigned to sahiljuneja

[2017-09-07 20:32] TillScout opened #133 "DroneSim sometimes not accepting changes in rqt_reconfigure"
On some occasions (I have not been able to reproduce) the DroneSim does not react to changes that are done in rqt_reconfigure. That means that e.g. during with the attitude_controller node I tune the parameters for pitch control and after tuning a couple of minutes it does not react to changes in the yaw parameters, but still to changes that I did initially. Restarting roscore, the sim and the nod

[2017-09-07 22:47] #125 closed, assigned to nobody

[2017-09-07 22:51] kylesf commented on #104
Done!

[2017-09-07 22:51] #104 closed, assigned to kylesf

[2017-09-07 22:54] kylesf commented on #123
Okay we will take a look at it!

[2017-09-07 23:21] kylesf commented on #124
Not sure why that is the case but I installed it just to be safe. Thanks

[2017-09-07 23:21] #124 closed, assigned to nobody

[2017-09-07 23:27] kylesf commented on #127
Changed it up! Thanks

[2017-09-07 23:27] #127 closed, assigned to nobody

[2017-09-07 23:29] kylesf commented on #133
Are you using the provided VM for the course?

[2017-09-07 23:33] kylesf commented on #131
Done!

[2017-09-07 23:33] #131 closed, assigned to nobody

[2017-09-07 23:37] bkinman commented on #133
I'm not sure what is causing the problem here.

It's like likely either a problem with networking, or more likely, a problem in ROS.NET/DroneSim.

I myself have not experienced this particular problem. I _have_ experienced rare and intermittent connectivity issues. For me, the problem was solved by restarting roscore/DroneSim

It will be excellent when we get to the root-cause of this problem.

[2017-09-07 23:39] kylesf commented on #130
Can you provide me more details on the location of this error? This is managed by careers team.

[2017-09-07 23:43] bkinman commented on #126
Seems like there is a bug in DroneSim, adding Noam.

[2017-09-07 23:59] bkinman commented on #123
Excellent find! The real problem here is that we are calling init_node before we initialized the `PositionControllerNode` class.

Because of this, the pose callback (which depends upon the counter) is getting called before the counter has been declared (aka PositionControllerNode's __init__() function is still running).

The fix that you've implemented will probably work, but we should instead be

[2017-09-08 00:20] bkinman commented on #112
By adding more service calls we can fix all of the problems mentioned above. However, this would reduce the overall speed. One great way to fix this is by writing a gazebo plugin to assist us with the process of gathering training data.

It's not a bad idea to add the lines above... But I think that we need to write a gazebo plugin at some point.

[2017-09-08 06:59] TillScout commented on #133
I use a native Ubuntu installation. On Slack someone mentioned that the same problem occurs on Windows, so I assume that he used the supplied VM.
The problem makes it barely possible to come up with properly tuned PID parameters. Restarting roscore/DroneSim helps, but after a few seconds the problem comes back in most situations.

[2017-09-08 12:52] Youssef-Khaky opened #134 "Deep learning 1.22, min 2:25 incorrect label on doors"
I think all doors should say j or the subscript in the notation should change to the corresponding letter.

[2017-09-08 13:39] Youssef-Khaky commented on #130
It can be found here:
Extracurricular -->4.Udacity Explores - Robot grasping --> Project: Resume Review project (Entry-level) --> Resume Review Project (Entry-level) --> "Udacity students and alumni via your >>>Professional Profile.<<< "

[2017-09-08 18:32] babazaroni opened #135 "RobotModel should be RobotState"
In Project: Robotic Arm: Pick and Place, lesson Rviz basics, "RobotModel" should be "RobotState"

[2017-09-08 20:22] kylesf commented on #130
Ticket has been submitted.

[2017-09-08 20:29] kylesf commented on #123
Made the changes. Can you confirm it working now @Things2Connect

[2017-09-08 22:43] chedanix opened #136 "Deep Learning: Quiz in Lesson 1.25 issue"
This has been mentioned in Slack.

Issue: The solution adds gradient to the weights and the bias, instead of subtracting as shown in lecture. But yet the resulting plot is accurate.

My proposed solution: To make the quiz more similar to the lecture material. I think you need to 1) change 0 to 1 and 1 to 0 in data.csv and 2) negate DErrorsDx1 and DErrorsDx1 in the current solution.

[2017-09-09 06:45] royveshovda opened #137 "Deep Learning: DNN lab: loss function"
Provided loss function return NaN. Ended up using
loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=logits, labels=labels))
to get the lab to work.

[2017-09-09 12:20] TillScout commented on #133
I noticed that constraining and unconstraining the problematic rotation/position temporarily fixes the problem. But it comes back after a while

[2017-09-09 14:18] yulivee commented on #133
I too, experience this problem. In my case, the sim never accepts input. I do not even havce phases where it works. Host OS is Ubuntu Linux

[2017-09-09 15:45] TillScout commented on #133
@yulivee In rqt_reconfigure, did you check the box saying "use_dr_set_point" at the top? It took me several hours to find out that you have to tick that box, otherwise all your changes are ignored.
Might be worth adding that piece of information to the classroom, by the way...

[2017-09-09 17:01] thatting commented on #123
I've done a git pull tonight to download the above-mentioned changes onto my local repository.  However, I get an error when I re-run a roslaunch for the position controller node.  The systems seems to have a problem creating topics before doing a node init?  I've attached the terminal output below:

robond@udacity:~$ roslaunch quad_controller position_controller.launch
... logging to /home/robond

[2017-09-09 17:05] kylesf commented on #123
I reverted the changes to your original suggestion. Hopefully this will resolve the issue. Thanks for the follow up

[2017-09-09 17:17] thatting commented on #123
Thanks.  Yes, the issue is resolved now.  Just tried again. The simulator works fine and can position the drone onto the lava cube.

[2017-09-10 11:46] yulivee commented on #133
@TillScout Where is that checkbox? I cannot find it in rqt_reconfigure

[2017-09-11 17:38] kylesf commented on #130
Should be fixed now!

[2017-09-11 17:38] #130 closed, assigned to kylesf

[2017-09-13 12:47] sahiljuneja commented on #137
That shouldn't happen though. But yes, the direct function you mention is better. I have updated the notebook. Thanks!

[2017-09-13 12:47] #137 closed, assigned to sahiljuneja

[2017-09-13 12:50] sahiljuneja commented on #97
Haven't had any similar problems from students about this specific to the VM, so I will close this for now.

[2017-09-13 12:50] #97 closed, assigned to sahiljuneja

[2017-09-13 13:02] sahiljuneja commented on #134
Thanks for pointing this out. Yeah, I am familiar with this. Getting it cross-checked with someone and fix it soon.

[2017-09-13 13:10] sahiljuneja commented on #136
Thanks for pointing this out. Having this looked into.

[2017-09-13 22:48] #111 closed, assigned to kylesf

[2017-09-16 07:43] JafarAbdi opened #138 "Control 2.10 link need update"
The link at the end of the lesson 2.10 of the control model is for the beta version of the course, so when we click it gives "You are not allowed to access this Nanodegree Program. Is your subscription paused, or past due?
"

[2017-09-16 23:27] dwazalwar opened #139 "Possible error in probability value in cross entropy lesson"
In intro to Neural networks Cross Entropy 1 towards end of lesson (check at 2.22), in right model instead of -log(0.2), it should be -log(0.7).

[2017-09-16 23:31] dwazalwar commented on #139
![Cross-Entropy-Possible Error.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59bdb07c30578b0012e5757c/125516c66e82c728ace21e0d46cb86953091ce8c81fdad4cb444bda42655347a2b08a66b5597f127ad0037431f1d11f6140b1b56f6eb8c22a4b5382482550ab9d56d5c70c63d18aeb8d01cea08b832975dc7e7e2de139db17770a599855d3f170f198cff5833a09d4dc158ff4ee65f18.png)

[2017-09-21 00:51] jeremyolsen opened #140 "Robotic Arm: Pick and Place - couple of dead 'here' links"
Slide 20 of the Submission slide has a couple of dead "here" links.  These are the ones I found:

1. Instructions on how to do the math behind IK can be found here

2. Instructions on proper formatting for your IK code and details of how IK_server.py works can be found here

URL of page with the issue:
https://classroom.udacity.com/nanodegrees/nd209/parts/7b2fd2d7-e181-401e-977a-6158c77bf816/modul

[2017-09-22 21:57] General-Sax opened #141 "Deep Learning: typo in question statement"
6. Deep Learning > 1. Intro to Neural Networks >
5. Linear Boundaries:

In response prompt, the formula for a given student's score is given as the equation of the classification boundary (2x1 + x2 - 18 = 0).

This parenthetical should read: "...and similarly the “score” (2x1 + x2 - 18), what is the score of the student..."

[2017-09-23 04:10] ancabilloni opened #142 "Introduction to Controls quizzes"
Just a suggestion, I think it's better to add `#TO DO` comments above the section students need to do in the quiz so it's more clear of where they need to work on. I think this tag was pretty efficient used in other Udacity assignements I did before.

[2017-09-23 07:53] ancabilloni opened #143 "Control: Lesson 18. Beyond the Ideal Case - Noise"
The solution of low-pass filter is different from the formula in the video.
On line 26 of the solution, the code is `filtered[i] = filtered[i-1] + alpha*(signal[i] - filtered[i-1])`

However, according to the lecture, should it be ` filtered[i] = (1-alpha)* filtered[i-1] + alpha*(signal[i] - filtered[i-1])` ?

There aren't significant differences between two solutions, but should the second one is

[2017-09-23 07:53] ancabilloni commented on #143
This is the formula in the video:

![Selection_122.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58e479a0d29e02001a48651a/125516c66e82c728ace21e0d46db9196268197a080e78012f60fb2d86b56357c2301a03f32dfa17de61028550b5747ad155c5f47f8f98922a4b66e73df5509ffcd7f1d2598694ef1e1c84afd13b0328a468fb7b98a4ac1ed3e24ee8d8e4f380c48.png)

[2017-09-23 19:38] croomjm opened #144 "Quadrotor and Dynamics Model 2 Quiz Inaccuracy"
Quiz question 1 has 1 incorrect and other misleading answers.

The question is phrased: "In order for a quadrotor to hover in place, i.e., maintain a constant x, y, z position, which states must equal zero? (HINT: there should be 8 check marks). You can assume that all external disturbances are equal to zero."

The question requires the following boxes to be checked in order to be marked correct:

[2017-09-24 03:17] ancabilloni opened #145 "Control Lesson 1.19 Control Design Objective and Criteria"
#Gramma error on item `1. Stability`:

'BIBO stands for Bounded Input, Bounded Output and it means that as long as the inputs are below **are** certain value'

![selection_123](https://user-images.githubusercontent.com/23693651/30779128-8bc6e48e-a0b5-11e7-8df6-c97ed36f4d86.png)

[2017-09-24 22:27] lisajlau opened #146 "Deep learning 3.17"
In the page, there is a quiz, where the answer is wi. Upon clicking submit, it would show a video that explains why it is wi. Under L2 Regularization, the last line, (1/2*wi)1 = Wi. Feels like it is missing a power 2 (look at x)

[2017-09-24 22:27] lisajlau commented on #146
[Uploading Screen Shot 2017-09-24 at 23.25.58.png...]

[2017-09-25 14:41] zenetio opened #147 "crl Semantic Segmentation L06E09"

[2017-09-25 14:42] #147 closed, assigned to nobody

[2017-09-25 14:46] zenetio commented on #147
The text in lesson says, in notebook, the separable_conv2d_batchnorm function adds batch normalization but the same is the case of conv2d_batchnorm(). So, I think the text should do mention of both functions.

https://classroom.udacity.com/nanodegrees/nd209-beta/parts/4405411f-bdc8-43fb-9e2b-b4b98a61c760/modules/375d6b1e-b31a-4d2e-b33a-996167faf77e/lessons/99db3ae7-9e87-40ba-b83c-5d1428643d2d/conc

[2017-09-25 14:50] sahiljuneja commented on #147
Thank you, but please use the beta-testers waffleboard. I have closed this issue here. Feel free to open one in the dedicated waffleboard :)

[2017-09-26 09:05] HTuennermann opened #148 "Uda-city simualtor"
Uda-city simualtor does not spawn normal pedestrians after pressing m on linux in training mode (v1.1)

[2017-09-26 23:48] adammalpass opened #149 "CNN Lab - Two of the TODO exercises are already implemented inside the Notebook"
For the Deep Learning section, CNN Jupyter notebook lab there are a series of TODOs to be completed. For the 'train_neural_network' section and 'print_stats' section the TODO has already been implemented. Presumably left over from testing. I'm not complaining as it saved me time ;) but I'm guessing this was not the intention and so they should be deleted. It was also a little confusing as I had to

[2017-09-27 02:23] HTuennermann commented on #148
seems to be fixed in 1.2

[2017-09-27 02:29] HTuennermann opened #150 "Uda-city (mac)"
Camera output in DL training mode is all black in "low deteils" and has 'unrelated' output on higher settings.

On linux it works as desired

[2017-09-27 03:27] adammalpass opened #151 "Deep Learning Lesson 5-5 Broken Link"
The link for the tf.layers.dense page is broken. It should be:

https://www.tensorflow.org/api_docs/python/tf/layers/dense

[2017-09-27 03:43] sahiljuneja commented on #151
Fixed. Thanks!

[2017-09-27 03:43] #151 closed, assigned to sahiljuneja

[2017-09-27 08:40] HTuennermann opened #152 "project_nn_lib_template.py"
is missing in the repository

[2017-09-27 15:29] #148 closed, assigned to nobody

[2017-09-27 15:29] kylesf commented on #148
Please use beta feedback channel.

[2017-09-27 15:32] kylesf commented on #152
Please use the notebook and fill that out. The code templates will be depreciated.

[2017-09-27 15:32] #152 closed, assigned to nobody

[2017-09-27 15:35] kylesf commented on #150
Please add to beta channel.

[2017-09-27 15:35] #150 closed, assigned to nobody

[2017-09-28 00:31] adammalpass opened #153 "Deep Learning Lesson 6-10 Equation Wrong"
The equation for P34 is stated as P3 + H1 * (P4 - P3) / H2.

However since P3 and P4 are located along the W2 axis I'm sure it should be calculated in a similar fashion to the P12 formula above, i.e:

P34 = P3 + W1*(P4-P3) / W2

Please confirm and update? Thanks!

[2017-09-29 03:28] sychaichangkun opened #154 "some errors occur after updating segmentation_lab"
I updated to the latest segmentation_lab(commit  eeea32f161) , but got several errors in saving model weights(missing argument), prediction(index out of bounds) and evaluation(index error).

[2017-09-29 08:29] sychaichangkun commented on #154
so does the RoboND-DeepLearning project

[2017-09-29 10:42] ndilsou opened #155 "Broken link in Explore: HRI for one of the research papers"
Article is : Robot Ethics: A View from the Philosophy of Science
By Guglielmo Tamburrini

A working link can be found on researchGate at:
https://www.researchgate.net/publication/228959347_Robot_ethics_a_view_from_the_philosophy_of_science

[2017-09-29 15:46] kylesf commented on #155
Fixed, thanks!

[2017-09-29 15:46] #155 closed, assigned to nobody

[2017-09-30 23:55] adammalpass opened #156 "Deep Learning Project - Missing Dependencies"
I'm using the RoboND environment (very first version) and tried to run the Deep Learning Project. The lesson notes said we must update tensorflow and install socket-io, but I found some other missing dependencies too:

- transforms3d
- pyqt
- pyqtgraph

After I installed them it worked fine, but should be good to add this to lesson notes!

[2017-10-01 19:06] kylesf commented on #156
Done, thanks!

[2017-10-01 19:06] #156 closed, assigned to nobody

[2017-10-01 20:16] tiedyedguy opened #157 "Weird Checkboxes in segmentation lab"
I removed the graphs from the model trainer part, but I'm getting weird checkboxes. I got them even with the graphs.

Apparently I can't put a picture here?

[2017-10-01 20:16] tiedyedguy commented on #157
![checkbox.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/595a8f72c8a8df001f654bff/125516c66e82c728ace21e0d46eb9c9f208981a697abf301b44fff9e2c4533317346f67222d6b72ce71b2a055b5f4da841585646fcab8a7eafb42e6c981e5ab38532022d8c6853beb2901eb80bbb258b498dbeb58a4cc3ed3827f5c6.png)

[2017-10-01 20:17] tiedyedguy commented on #157
There is that weird number also.

[2017-10-02 06:56] adammalpass opened #158 "Please communicate changes to project files"
Seems some updates were made to support functions in Deep Learning project over the weekend (for example preprocess_ims.py).

Bug fixes are good, but not communicating changes isn't. I had no idea changes were made and still have no idea what the update is about. Do I need to update? Is all the work I made so far unusable due to whatever bug was found?

Please provide more detailed commit messages

[2017-10-02 07:09] sahiljuneja commented on #158
Sometimes there are some important fixes as per some bug reports or some testing, so it becomes difficult because we clearly don't want to have to ping the channel and bother lots of students at the same time to update their local copies. Ideally, we would like to not have that many fixes after release as well.

But you are right. We will try to go about this better and see what works best to info

[2017-10-02 07:29] adammalpass commented on #158
Thanks for your comments. How about adding an 'Updates' section or something on the README to give a summary of changes. Then everything is all in one place and it would be easy to tell if/when/why we should update our repos.

[2017-10-04 02:00] babazaroni opened #159 "Train your SVM. Needs warning at end."
On Lesson 5.15, please warn at the end that your confusion matrices will not look like the ideal ones shown.   That will save people like me from spending  2 or 3 hours trying to work it out, when the next lesson explains it.

[2017-10-04 03:53] arjunaskykok opened #160 "Setting Ki bigger than 0 makes drone simulator goes nuts"
Steps:
1. launch "roscore" (after source devel/setup.bash) in one terminal
2. Run the simulator. "./DroneSim_Lin.x86_64" (I use Ubuntu Native)
3. in other terminal run "roslaunch quad_controller hover_controller.launch" (after source devel/setup.bash)
4. Set target to 10, Kd to anything, Kp to anything reasonable.
5. Set the Ki to any value bigger than 0. Watch the simulator goes nuts.

https://ww

[2017-10-05 02:15] sahiljuneja commented on #153
Thanks for reporting this. Fixed!

[2017-10-05 02:16] #153 closed, assigned to sahiljuneja

[2017-10-05 02:20] sahiljuneja commented on #154
Hey! Was this resolved for you based on the recent updates?

[2017-10-05 02:26] #95 closed, assigned to sahiljuneja

[2017-10-05 02:26] #87 closed, assigned to nobody

[2017-10-05 02:38] sahiljuneja commented on #140
Fixed. Thanks, Jeremy!

[2017-10-05 02:38] #140 closed, assigned to sahiljuneja

[2017-10-05 05:07] sychaichangkun commented on #154
yes, resolved. Thank you.

[2017-10-09 12:27] thatting opened #161 "Problems running script follower.py in the Follow Me project"
I have problems running the follower.py script in the Follow Me project (section 6-P-9).  I have renamed the model_weights file (output of simulation) to model_weights.h5 (just added the .h5 extension) and run following line in the RoboND enviroment, after starting the QuadSim simulator and clicking "Follow Me" button + selecting "Spawn People" :

$ python follower.py model_weights.h5

The python

[2017-10-09 13:44] danzelmo commented on #161
Hmm, that error message sounds scary:) The project has run on multiple windows 10 machines, so that would make me look for a system/build specific problem.
Here is what I would do.

first: run a helloworld.py type of script from the command line, and make sure this runs.

second: check if you have multiple different python installs on your system, and that you have the correct version active while

[2017-10-13 12:18] #154 closed, assigned to danzelmo

[2017-10-13 14:35] #158 closed, assigned to sahiljuneja

[2017-10-13 14:57] sahiljuneja commented on #149
Updated to remove those solutions ;) Thanks!

[2017-10-13 14:57] #149 closed, assigned to sahiljuneja

[2017-10-15 11:12] gwwang16 opened #162 "The recording image size of QuadSim_Win simulator issue"
The camera angles are different between 'Follow me' mode and 'DL training' mode.
The cam1 images in 'Follow me' mode have a pitch angle or have been cropped while the top half part of images in 'DL training' mode is sky area. This leads to the recording data is inconsistent with the original dataset and image inputs for following task.

[2017-10-18 05:03] riomat13 opened #163 "follower.py got UnicodeDecodeError on Ubuntu16.04 and Win7"
This is the error come up when I ran "follower.py"  on both Ubuntu and Windows 7. Those are same computer. (Error message below is from Ubuntu)

Traceback (most recent call last):
  File "follower.py", line 214, in <module>
    model = model_tools.load_network(args.weight_file)
  File "/home/***/RoboND-DeepLearning-Project/code/utils/model_tools.py", line 37, in load_network
    json_string = json

[2017-10-18 23:24] General-Sax opened #164 "deep learning 1.24 formula error"
Unless I am seriously misunderstanding the notation in this section, the 'summary' formula just above the quiz erroneously includes a subscript i (dE/dw_i); since this derivative equals the contributions from all weights, this should be dE/dW, or a summation over i.

[2017-10-18 23:37] General-Sax commented on #164
Upon revisiting this, it's not an error, it's just confusing how this is indexed, or where the subscript is placed. This equation is saying that the error gradient contribution from the ith point x,  x^(i), is given by this scalar multiplication on x^(i), but that is not what it looks like. This isn't a true error, just a point that may deserve further clarification/specificity.

[2017-10-21 22:54] jazzdman opened #165 "KR210 Forward Kinematics 2 video displays inconsistent orientation for frames 4,5, 6 and gripper."
https://www.youtube.com/watch?time_continue=16&v=CNQ9CE_itBg

Start the video at about the 2:45 mark.  Just after the 2:50 mark, the vectors that define the orientation of frames 4, 5, 6 and gripper change.  Both of them can't be correct.

[2017-10-21 23:50] jazzdman opened #166 "KR210 Forward Kinematics 2 video doesn't represent orientations of joint frames 2 - 6 correctly."
https://www.youtube.com/watch?time_continue=16&v=CNQ9CE_itBg

Starting at 1:50, the narrator states

Here I show the joint reference frame origins indicated by black triangles in orientations as they appear int he URDF.

The UDRF file is here:  https://github.com/udacity/RoboND-Kinematics-Project/blob/master/kuka_arm/urdf/kr210.urdf.xacro

This shows an <axis> element for each joint.

According to

[2017-10-21 23:56] jazzdman commented on #166
To clarify the initial description above:

This file shows an axis element for each joint.

.
.
.

The information in the xacro file makes sense based on the orientation of the joints in the diagram in the video.  It is not consistent with either the axes drawn for joint 2 - 6 or the statement the narrator makes.

[2017-10-22 01:49] jazzdman commented on #166
Actually, I think the statement the narrator makes is incorrect.  The orientation of each joint frame is based on the definition of DH parameters.

[2017-10-23 00:41] ezra-schroeder opened #167 "Not enough rote exercises in the classroom"
We received an email in which it was suggested that we add things that Udacity can do to improve this Nanodegree here on Waffle. I would really encourage you to include many, many more (perhaps optional) rote coding exercises. Preferably ones that are *autograded* and possibly where no solution is provided. I believe that many people would be greatly aided by this, and that it is something that wo

[2017-10-23 18:44] sahiljuneja commented on #167
Thanks for the feedback! Is this specific to any content till now? Or you feel this is applicable or a drawback to most/all coding exercises?

So for example, the Perception content. Most of the exercises build towards the project and/or help understand the concept at hand. Are you stating you would like more exercises that repeat the concepts instead of 1 or 2 of those exercises/quizzes?

[2017-10-28 15:32] PatrickMockridge opened #168 "Kuka Pick and Place Arm not picking up the cylinder, even in demo mode"
The arm makes all the correct joint movements both in the demo and in my own code, but it is not picking up the cylinder. I have tried running the RoboND VM in different VM ware and virtual box I have repeatedly deleted and reinstalled and remade the environment. The scripts in my bashrc file are fine.

[2017-10-28 15:35] PatrickMockridge commented on #168
![screenshot from 2017-10-28 16-20-58](https://user-images.githubusercontent.com/18012054/32135867-f000df8c-bbfd-11e7-8595-6635f83ddff6.png)
![screenshot from 2017-10-28 16-29-18](https://user-images.githubusercontent.com/18012054/32135868-f33338b2-bbfd-11e7-9f56-403e4a4cb73f.png)
![screenshot from 2017-10-28 16-21-46](https://user-images.githubusercontent.com/18012054/32135869-f509324a-bbfd-11e7-

[2017-11-02 13:26] Thom087 opened #169 "Follow Me Simulator Python script crash Win10"
I launch the simulator in the follow me mode. As soon as I try to launch the python script It takes like 10s than it crashes. I am using Win10

[2017-11-02 13:28] Thom087 commented on #169
![Capture.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59fb1cbe678ec80014f362e2/125516c66e82c728ace21e0d46cb958a379791accda5fd53b652fa912a5265296b51fa7923d1e770e6137f555f5c4aac41515d44aefadc22a4a42062c80d55b98e30063e937f03a6aa8316b500bf20824987bfbe834fc6eb3d37aa.JPG)

[2017-11-02 13:29] Thom087 commented on #169
The simulator somehow is still working no problem, just the python script won't work

[2017-11-02 16:45] kylesf commented on #168
Can you please share the specs of your set up and what version of the VM you are using?

[2017-11-02 16:46] kylesf commented on #169
Please run `conda update --all` and see if that fixes the problem!

[2017-11-03 03:19] adammalpass opened #170 "Follow Me 6 - Data Collection Guide"
Notes say to press <N> to start the spawns. It should say to press the M key.

[2017-11-03 19:34] PatrickMockridge commented on #168
Hi Kyle I am going to reinstall the VM with the very latest version and rebuild my pick and place project in the new VM. When I’ve run the demo I will update you as to how it went.

From: Kyle Stewart-Frantz <notifications@github.com>
Reply-To: udacity/robotics-nanodegree-issues <reply@reply.github.com>
Date: Thursday, 2 November 2017 at 16:45
To: udacity/robotics-nanodegree-issues <robotics-nanod

[2017-11-03 23:18] PatrickMockridge commented on #168
Hi Kyle,

I reinstalled the VM and set up Project 2 again from scratch. I’m sorry to report that I am still getting the same issues. The gripper is still not gripping the cylinder even in demo mode.

I’ve been around the block with this now so many times. What else can I do? I am sort of reaching my limit of patience.

Best,

Patrick

From: Patrick Mockridge <patrick@engzig.com>
Date: Friday, 3 No

[2017-11-03 23:23] PatrickMockridge commented on #168
My laptop is a Lenovo Ideapad 510s running Ubuntu 16.04, 8GB RAM, core i5-7200U. My VM is set up in VMware Player version 14.0.0 with 3 cores and 6GB RAM assigned

[2017-11-03 23:24] PatrickMockridge commented on #168
I just downloaded and reinstalled the latest version of the VM (2.1.0) tonight and reinstalled everything from scratch. Still the same issues.

[2017-11-05 21:48] croomjm opened #171 "Incorrect Label in 6.1.6 Perceptrons Video"
At 3:28, the video labels the graph of the step function response with "Set Function".

[2017-11-06 02:11] croomjm opened #172 "Multi-class entropy video labels don't match narration"
at ~2:40: "y_1j is the probability of the duck being behind door j," but the image labels the door as door i. Similarly for the walrus door, which is labeled door k.

[2017-11-06 16:08] kylesf commented on #169
Any updates @Thom087 ?

[2017-11-06 16:11] kylesf commented on #170
Thanks, fixed!

[2017-11-06 16:11] #170 closed, assigned to nobody

[2017-11-06 17:38] ancabilloni commented on #168
Hi @PatrickMockridge which option are you using for the robot routine? "Continue" or "Next". If you're using "Continue", can you try with "Next" for manually tell the robot move on to the next step after it's completely done with the action before it moves on to the next action? Sometimes an action moves quicker than it should and slip out in grabbing the object. Though this can be varied per many

[2017-11-07 02:28] alikureishy opened #173 "pcl_to_ros() and/or ros_to_pcl() methods in pcl_helper.py (for project # 3) are messing up the point cloud"
I have been able to reproduce this on my machine, using the file attached.

In project # 3, we are to write the pick+place pipeline for object recognition for PR2_robot. In this pipeline, pcl_helper.py is available for us to use. I was having issues with the point cloud I would produce at the end of this pipeline, but it turns out that the issue might be in pcl_to_ros() or ros_to_pcl(). See attach

[2017-11-07 02:28] alikureishy commented on #173
![Screen Shot 2017-11-06 at 6.25.16 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a0115450d54860012f37c04/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76226454f56b7191a37ef1102e4f5e595ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a19e41c95df74be14f54a3113364e77f2431.png)

[2017-11-07 02:29] alikureishy commented on #173
[Uploading Screen Shot 2017-11-06 at 1.38.29 PM.png...]

[2017-11-07 02:32] alikureishy commented on #173
Notice in the first attachment, that I am using the PointCloud2 visualizwr to view the /pcl_raw topic. I have subscribedd to the /camera/depth_registered/points topic, and done the following:

# Callback function for your Point Cloud Subscriber
def pcl_callback(pcl_msg):
    # TODO: Convert ROS msg to PCL data
    pcl_raw = ros_to_pcl(pcl_msg)

    # TODO: Convert PCL data to ROS messages
    ros_

[2017-11-07 02:35] safdark commented on #173
Here's teh full source code of the reproducible issue:

orientation_problem.py:
---------------------------------

#!/usr/bin/env python

# Import modules
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder
import pickle
from sensor_stick.srv import GetNormals
from sensor_stick.features import compute_color_histograms
from sensor_stick.features import compute_normal_hi

[2017-11-07 02:35] alikureishy commented on #173
Full source code:

[code]

[2017-11-07 02:37] alikureishy commented on #173
This is blocking my progress on project # 3, because I need these methods to work on the image pipeline.

To reproduce this issue:
1) Drop this code (above) into the ~/catkin_ws/src/RoboND-Perception-Project/scripts/ folder.
2) Run:
       roslaunch pr2_robot pick_place_project.launch
3) Run:
      ./orientation_problem.py

[2017-11-07 02:39] alikureishy commented on #173
![Screen Shot 2017-11-06 at 1.38.29 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a0115450d54860012f37c04/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76226454f56b7191a379f111234f5d565ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a19141c95df74be14f57a7153661e0702431.png)

[2017-11-07 02:41] alikureishy commented on #173
Note in this last image above, that I have displayed 2 topics:
/pcl_original <-- The original message
/pcl_raw <-- The same message after going through ros_to_pcl() and pcl_to_ros()

/pcl_original displays the flat table (in its right location, which is expected since this is the message received on the callback function that I am just echoing to the /pcl_original topic)

/pcl_raw displays the til

[2017-11-08 16:52] sachin3 opened #174 "Pick and Place Project - IK_Debug"
For following joint angles -0.65,0.45,-0.36,0.95,0.79,0.49 in script IK_Debug, the wc mentioned is1.89451,-1.44302,1.69366 but when I set the same joint angles in rviz - joint_state_publisher window, I see position for link_5 (which is wc) as 1.894 (same), -1.4503 (diff) and 1.6831 (diff). Is this an issue or am I missing something?

[2017-11-09 16:30] safdark commented on #173
![image](https://user-images.githubusercontent.com/1193219/32616765-062b9f26-c528-11e7-9368-c701ca6cf2ef.png)

This (attached) is what I see when I run "roswtf" in my catkin workspace.

[2017-11-09 16:56] sahiljuneja commented on #173
Hey! Can you share your github repo with the latest code here? I will try to run it locally and see what the issue might be. Haven't seen this before so wish to cross-check. I will try to get back to you asap accordingly!

[2017-11-09 16:58] sahiljuneja commented on #172
Hey, this is a known issue that is being looked into, although it could be a while. I will try to provide text around it till the video gets fixed, soon. You can refer to issue https://github.com/udacity/robotics-nanodegree-issues/issues/134 as well. I will close this one for now to avoid duplicates.

[2017-11-09 16:59] #172 closed, assigned to sahiljuneja

[2017-11-09 16:59] #167 closed, assigned to nobody

[2017-11-09 17:27] alikureishy commented on #173
Hi Sahil,
Sure. Here's the github link for the code I wrote to reproduce this (since
it didn't require the entire pipeline). You can check the other files too,
if you'd like.

https://github.com/safdark/ROBO-perception-project/blob/master/RoboND-Perception-Project/pr2_robot/scripts/orientation_issue.py

Hope this helps?

On Thu, Nov 9, 2017 at 8:56 AM, Sahil Juneja <notifications@github.com>
wrote

[2017-11-09 17:30] alikureishy commented on #173
Also, note that the pcl_helper.py file exists in two locations:
pr2_robot/scripts/pcl_helper.py
sensor_stick/src/sensor_stick/pcl_helper.py

They're both the same file actually (just as it was in the Udacity repos).
I didn't check which of the two of those actually got imported, but it
didn't matter since the files were identical.

On Thu, Nov 9, 2017 at 9:27 AM, Safdar Kureishy <safdar.kureishy@g

[2017-11-09 17:37] sankhagowit opened #175 "No @robohelp in slack channel"

[2017-11-09 17:51] sankhagowit commented on #175
Nevermind - this is my mistake.

[2017-11-09 17:58] #175 closed, assigned to nobody

[2017-11-10 02:07] alikureishy opened #176 "ros_to_pcl() seems to be causing a loss of color information"
I am trying to capture ROS point clouds and save them to disk, for which I need to convert the sensor_msg/PointCloud2 type to the pcl PointCloud_ type. After conversion, I save the point cloud to disk using pcl.save() from the pcl. However, when I view the saved point clouds, the color information of each object is largely missing. (See attachments)

[2017-11-10 02:08] alikureishy commented on #176
![Screen Shot 2017-11-09 at 6.03.09 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a0115450d54860012f37c04/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76226454fa6b7191a37ef112284f5f565ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a19e41c95df74be34a5ca2153f65e4702431.png)

[2017-11-10 02:09] alikureishy commented on #176
![Screen Shot 2017-11-09 at 5.55.13 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a0115450d54860012f37c04/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76226454fa6b7191a37df1172e4f5e5c5ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a29b41c95df74be34a5ca3103460e6742431.png)

Both these attac

[2017-11-10 02:17] alikureishy commented on #176
[code]

Note: The _capture_point_clouds.py_ file is just capturing the point cloud from the requisite ROS topic, and is then invoking *_ros_to_pcl()_* on it. That is where, it appears, this issue loss of color information might be happening.

[2017-11-10 02:20] alikureishy commented on #173
I have logged another, possibly related, issue (
https://github.com/udacity/robotics-nanodegree-issues/issues/176), but this
other issue involves loss of color information (no orientation change). It
appears that the color information is being lost via a call to
ros_to_pcl(). I have provided the instructions to reproduce the issue.
Thought I'd post a comment about it here since it might be simple

[2017-11-10 02:27] alikureishy commented on #176
![screen shot 2017-11-09 at 6 26 44 pm](https://user-images.githubusercontent.com/1193219/32640055-979f701a-c57b-11e7-9073-ad62c63880bc.png)

Here's the same loss of color information for the otherwise *very* colorful beer can.

[2017-11-10 02:36] alikureishy commented on #176
I'm unable to upload the .pcd file type, otherwise I would have attached the corresponding file for this beer point cloud.

[2017-11-10 20:02] sahiljuneja commented on #173
The issue seems to stem from how the Subscriber is defined in your code.

Because of that a wrong transformation is being applied (somewhere, I am not sure where exactly and will have to look more into it but it's most likely how the t f tree is setup for the topic you are trying to subscribe to) but that's why one of the topics is publishing it at a different transformation than expected.

I woul

[2017-11-12 02:35] adammalpass commented on #169
@kylesf @Thom087
I just spoke to student on Live Chat who had this exact same issue. I suggested to run `conda update --all` and it fixed their problem! :)

[2017-11-12 02:35] perfalcon commented on #169
@kylesf  .. i am facing the same issue, it worked after i did "conda update --all"

[2017-11-14 06:49] ggnohc opened #177 "Deep Learning: Selecting Region when submit a Limit Increase Request in AWS"
In Lesson 4.33 Part 1: AWS GPU instances, in 3.  Submit a Limit Increase Request, it asked to select region closest to you.  However in my case the nearest region is "Singapore", and in Project: Follow me, Part 2: Setting up your AWS instances, it states "Note: The AMI is available in the following regions: Oregon, North Virginia, Frankfurt, South America, Tokyo, Ohio, Seoul and Sydney. Also note

[2017-11-17 05:55] adammalpass commented on #169
Another student on Live Chat had this same issue and again the same fix solved it. So I think this one should be solved!

[2017-11-17 16:08] thatting opened #178 "7.1.11 "Inheritance and Pointers""
There is a typing-error in this section:

  -> cout << "Address of wheel 1 obect= "

should be :

 -> cout << "Address of wheel 1 object= "

Also, the enclosed screen snapshot contains the spelling mistake.

[2017-11-17 17:52] danzelmo commented on #169
The update fixes the issue, but I am not sure why yet. Its on my todo list to track down the exact cause of this, I will leave this open until that fix is found.

[2017-11-17 17:57] danzelmo commented on #176
Hi safdark,

I am unsure what is causing the issue here. I can't say when but this is something I would like to look into. Are pointclouds in general supposed to contain color information, if it is generated from lidar I thought color info was lost. It is something I would like to know if it is a bug or not, but it might be a while to look into/potentially fix if issue is found.

[2017-11-18 10:40] thatting opened #179 "7.1.10 "Classes and Objects""
I'm a bit confused?   In the embedded video (1:00 -> 1:10), the presenter says let's create a "public attribute" for class Robot, but Speed() is a public method (or behaviour) rather than an attribute?

[2017-11-19 04:03] jazzdman opened #180 "Instructions for SVM Image Classification exercise need cleanup"
Perception Lesson 5, section 12 SVM image classification.  Before the exercise code, this section states:

Play with the parameter values spatial and histbin in the exercise below to see how the classifier accuracy and training time vary with the feature vector input.

There doesn't appear to be a variable named spatial in the code.

[2017-11-19 04:28] jazzdman opened #181 "Robond-Perception-Exercises contains vi backup file"
Someone likes to use VI.  Exercise 3 contains a .features.py.swp file.

[2017-11-21 11:06] teasp00n opened #182 "Clarify Output of model_training.ipynb for Follow Me Project"
The description of the project refers to the output `model` as a `.h5` model.

This is a little confusing as it implies there is a single file with a .h5 extension but in reality the output is both the `config_model_weights` and `model_weights` files. Not sure where `.h5` is coming from other than that probably being the binary format of `model_weights`.

[2017-11-21 19:35] #174 closed, assigned to nobody

[2017-11-21 21:30] kylesf commented on #180
Fixed, thanks.

[2017-11-21 21:30] #180 closed, assigned to nobody

[2017-11-21 21:34] kylesf commented on #177
Updated, thanks!

[2017-11-21 21:34] #177 closed, assigned to nobody

[2017-11-21 21:35] #168 closed, assigned to nobody

[2017-11-21 21:52] karimchamaa commented on #178
Resolved, Thanks!

[2017-11-21 21:52] #178 closed, assigned to karimchamaa

[2017-11-21 23:55] uschas08 opened #183 "can not install pcl for statistical filtering"

[2017-11-22 00:01] kylesf commented on #183
Please elaborate more on your issue.

[2017-11-22 00:05] uschas08 commented on #183
project 3D Perception, cannot perform statistical filtering, Error: TypeError: __cinit__() takes exactly 1 positional argument (0 given), tried with commands mentioned in lectures to re-install PCL but I could not install it stuck at a point, I tried with updating VMWARE and re-use ova file.

[2017-11-22 00:17] kylesf commented on #183
Did you try to install with sudo?

[2017-11-22 00:19] uschas08 commented on #183
$ cd ~/RoboND-Perception-Exercises/python-pcl
$ python setup.py build
$ sudo python setup.py install

[2017-11-23 00:01] sandyleo26 opened #184 "Cannot use GPU on udacity robotics AMI on AWS"
For follow me project, I followed the instruction to create p2.xlarge instance and installed the RoboND env but training is slow (800s /epoch). GPU memory usage is 0. It's because tensorflow-gpu is not used. But it cannot be installed correctly because no cudnn driver. I have to create a new instance using amazon's own deep learning ubuntu AMI and create the RoboND there. Then it works and 1 epoch

[2017-11-23 09:57] sahiljuneja commented on #184
Hey!

For the AMI you don't have to install the RoboND env. You can work directly in the AMI which comes preinstalled with tensorflow-gpu.

The RoboND env will install tensorflow-cpu instead.

I just checked the AMI again, and everything works well there. I will close the issue for now. Good luck!

[2017-11-23 09:57] #184 closed, assigned to sahiljuneja

[2017-11-23 11:17] sandyleo26 commented on #184
I see. Well then maybe the instructions in the classroom could be clearer coz I follow it and source robond.

[2017-11-23 18:53] pravsels opened #185 "Deadline Surpassage"
Even though I was locked out of the content due to not completing all projects before the required deadline, I was still able to bypass that blockage by clicking on the 'Resume Learning' button in Classroom home.
Was also able to submit after deadline due to the bug.
 Since last viewed content happened to be the section related to the final project and its submission.
![Screen Shot 2017-11-23 at 9

[2017-11-23 18:53] pravbeatle commented on #185
![Screen Shot 2017-11-23 at 9.52.33 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a17185504c93700149e54f0/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76226456f06b7191a371f117294f5c5c5ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a29941c95df74ae54b56a6123663e6772431.png)
![Screen Shot 201

[2017-11-24 01:19] sahiljuneja commented on #184
Can you clarify where you noticed some ambiguity?

Because the current section on working with AWS in the Project lesson doesn't ask you to install the RoboND environment in it.

[2017-11-24 04:07] sandyleo26 commented on #184
You’re right the instructions is correct. I guess it’s switching back and forth between aws and local environment that trip me over. I don’t know about others but it’ll definitely help if it’s noted that one uses RoboND while the others doesn’t. Or a RoboND env is created on aws rather than using the root env.

Sent from my iPhone

[2017-11-24 19:38] jazzdman opened #186 "Object Recognition code has syntax error"
Perception Section Lesson 5 Object Recognition Part 17 Object Recognition

# Make the prediction, retrieve the label for the result
# and add it to detected_objects_labels list
prediction = clf.predict(scaler.transform(feature.reshape(1,-1)))

This line should be :

prediction = clf.predict(scaler.transform(feature.reshape( (1,-1) )))

The parameter passed to reshape should be a tuple:

https://do

[2017-11-27 14:31] sahiljuneja commented on #186
Both are correct. You can try testing that out with a smaller array and compare the output of the two.

In the above case you are defining it as `feature.reshape(new_shape)` and not as `np.reshape(feature, new_shape)`.

For the latter, new_shape has to be a tuple. For the former, you need not pass the dimensions as a tuple. Both are correct definitions.

I tested both locally right now in the VM a

[2017-11-27 14:32] #173 closed, assigned to sahiljuneja

[2017-11-27 20:30] karimchamaa commented on #179
I usually see the attribute as an action (move, cross...). I guess this example is confusing because I should've initialized speed as a variable and not a function to really represent an attribute. Sorry about that!

[2017-11-27 22:03] #179 closed, assigned to karimchamaa

[2017-11-28 01:17] alikureishy commented on #173
Thanks Sahil! Your comment about how to fix the issue worked like a charm.

On Mon, Nov 27, 2017 at 6:32 AM, Sahil Juneja <notifications@github.com>
wrote:

[2017-11-30 14:20] alikureishy opened #187 "Frequent "Process has died" errors in ROS environment on Udacity VM"
I’m trying to understand what causes this error below. This error seems to indicate that the environment has gotten corrupted, because often if I restart the VM and clean out the build/ and devel/ folders, reclone the repository, and do a fresh “catkin_make”, this issue resolves itself. However, this happens frequently enough, it appears, to perhaps warrant investigation by the Udacity team.

It i

[2017-11-30 14:23] alikureishy commented on #187
I don't have a reproducible scenario for this, but it happens often enough to be rather frustrating. Most recently, I am seeing this error when I try to launch:

[2017-11-30 14:37] alikureishy commented on #187
The solution is to employ a _combination_ of 2 or more of the below:
1) Clean out the /build and /devel folders and run catkin_make
2) Clean out the src/RoboND-Controls-Lab folder entirely, and reclone, and run catkin_make
3) Restart the VM

#2 and #3 seem to be required more often than not. #1 almost rarely works on its own.

[2017-12-07 14:28] ghost opened #188 "Rover Simulator spawns rocks in terrain"
Occasionally the Rover simulator for the Search and Mapping project spawns rocks in terrain making it impossible for the rover to detect them.

[2017-12-07 14:30] ghost commented on #188
Here's a picture of the rock spawned inside terrain:
![Hidden Rock inside.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a294fb6e4a9d80012b71c36/125516c66e82c728ace21e0d46c09d9e27878de9bde6bc48e454fe87204222316546b3397f8fe62bab0021435a564caf450c574dfdad8d2ba5b23c70835e0bbfd2385676d42103eee9dc4be05ce36ade0d97bcae8b4bcae93824e58d8a49371802118cf64f78.jpg)
Here's a picture o

[2017-12-09 20:23] jazzdman opened #189 "Question in Quadrotor Control with PID section 24 appears to be stated incorrectly"
The question states:

In order for a quadrotor to hover in place, i.e., maintain a constant x, y, z position, which states must equal zero? (HINT: there should be 8 check marks). You can assume that all external disturbances are equal to zero.

I need to maintain a constant X, Y and Z position, I could still be rotating out of control, so I only need 3 things to be zero, dx/dt, dy/dt and dz.dt.  M

[2017-12-09 21:40] jazzdman opened #190 "DroneSim installation instructions aren't clear"
For the Follow Me project a Drone Simulator is provided, the instructions for downloading the simulator say :

Download the latest binary of the Quad simulator for your OS and put it in a convenient location.

To this point in the class, most of the work has been done in the Ubuntu VM.  So, it seems safe to assume that "your OS" is the Ubuntu VM.  As the Slack thread below shows, this is not the c

[2017-12-09 22:35] jazzdman opened #191 "Perceptrons video has a typo"
https://www.youtube.com/watch?time_continue=192&v=hImSxZyRiOw

At 3:06, the narrator talks about a step function.  However, the graphic in the video shows "Set function".

[2017-12-10 02:52] jazzdman commented on #189
Actually, never mind, I get the question now.  The trick in the question is that the copter has coupled degrees of freedom.  That should be the hint.

[2017-12-10 15:46] jazzdman opened #192 "Can't follow links in class notes"
In TensorFlow for Deep Learning, section 15: TensorFlow Cross Entropy, there are two links for multi-class cross entropy and One Hot Encoding.     Also section 30: Lab: TensorFlow Neural Networks has a link for instructions on how to setup TensorFlow, I believe.  When I click on any of those links, my browser (Safari) simply directs me back to the main syllabus page.

[2017-12-11 01:55] jazzdman commented on #192
The link for classroom setup in section 6 Lab: Getting Started of Lesson 32:  Semantic Segmentation.  Neither does the link that asks you to "Click here" for package requirements.

[2017-12-13 04:17] jazzdman commented on #192
For me, this problem appears to be complete (i.e any link that I click on sends me back to the syllabus).  I have noticed this also occurs in the Chrome browser in the RoboND VM.

[2017-12-13 04:46] sahiljuneja commented on #192
Thanks for pointing this out. Some recent update might be causing this issue. I will start looking into this.

[2017-12-13 06:18] sahiljuneja commented on #192
Most, if not all, such broken links should be fixed now. If you encounter more, that I might have missed, then please create a new ticket. Thanks for pointing these out!

[2017-12-13 06:19] #192 closed, assigned to sahiljuneja

[2017-12-20 17:40] Kevin-La-Ra opened #193 "No module named 'moviepy' in online rover lab"

[2017-12-20 17:43] Kevin-La-Ra commented on #193
In code section 11, "Make a video from processed image data"

# Import everything needed to edit/save/watch video clips
from moviepy.editor import VideoFileClip

results in

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-13e3c6f195dc> in <module>()
      1 # Import everything n

[2017-12-27 12:58] ghost opened #194 "Lesson 11.7: Composition of rotations multiplies rotations in same direction."
In the above mentioned lesson it asks us to code both an intrinsic and an extrinsic rotation, with the difference between these two being the rotation order. However the solutions for both of these code quizzes has the same multiplication order.

[2017-12-27 13:00] ghost commented on #194
This his means that the answers to the two quizzes are different, making the answer to the third quiz, a multiple choice question, incorrect.

[2018-01-14 03:25] mkhuthir opened #195 "Text correction"
Lesson 7: Write ROS Nodes
9.ROS Subscribers

"Before you are ready to write code on the Udacity car" need to be changed to

"Before you are ready to write code on Robotic Arm"

[2018-01-17 06:04] lacvapps opened #196 "Online: Rover Lab - No Module moviepy"
Attempting to run the rover lab notebook online results in this error

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-12-13e3c6f195dc> in <module>()
      1 # Import everything needed to edit/save/watch video clips
----> 2 from moviepy.editor import VideoFileClip
      3 from mov

[2018-01-18 13:19] flores-jacob opened #197 "`an_image.list` does not contain valid filepaths"

[2018-01-18 13:21] flores-jacob commented on #197
Under Term 2 Lesson 6 part 4 - Image classification with DIGITS - improving performance, right after the text:
[code]
where the student is asked to save a `an_image.list` to use to test the trained models, the `an_image.list` contains paths that do not map to actual files, resulting in the errors below when trying to use them to check the trained models.

[code]

Contents of the `an_image.list` fi

[2018-01-19 01:45] priteshgudge commented on #197
Same issue for me too.
![Screen Shot 2018-01-19 at 6.58.15 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58ec8a18316bc2001a52f1a9/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77226455fa6b7191a37ef117234f5e5a5edd3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a19e41c95df74de24f53a711366ae5722431

[2018-01-19 02:05] kylesf commented on #197
Hi there, I have sent out for new build of image to include the data. For now please enter this command into a terminal on your digits workspace `curl -L https://s3-us-west-1.amazonaws.com/udacity-robotics/Content+Workspace+Use/lab_data.tar.gz |  tar zx -C /`

[2018-01-19 02:06] kylesf commented on #196
Fixed should be deployed. Sorry about any inconvenience!

[2018-01-19 02:06] kylesf commented on #193
Fixed should be deployed. Sorry about any inconvenience!

[2018-01-19 06:52] alikureishy opened #198 "Udacity's Robotics Deep Learning AMI does not have the necessary libraries to support keras.utils.vis_utils.plot_model()"
Invoking the keras.utils.vis_utils.plot_model() API (via Jupyter Notebook) on an AWS EC2 instance launched with the Udacity Robotics Deep Learning AMI results in this error:
[code]

After installing the following based on proposed solutions from other internet forums:
[code]

...a new versioning discrepancy between the libraries is seen as follows:
[code]

If the goal of this AMI is to provide all

[2018-01-20 02:34] sahiljuneja commented on #198
Thanks for raising this. I have provided a comment in the Slack discussion around this as well.

[2018-01-20 02:35] #186 closed, assigned to sahiljuneja

[2018-01-21 20:59] priteshgudge opened #199 "Configuration Steps for Inference Project scripts"
There should be steps to setup and configure opencv with relevant virtualenv steps for the capture image script.

Eg.
1. Install and configure OpenCV
2. Find the port details of the virtual camera

[2018-01-27 05:57] amiltonwong opened #200 "question on term2 robotic inference project"
In section "9. Project: Robotic Inference, "1) Using the supplied data in the digits image", does "the supplied data" mean the customized data or the udacity-prepared data found in DIGITS Workspace? Could it be elaborated a bit?

[2018-01-30 05:57] zenetio opened #201 "L0304-Lab:Kalman Filers"
When I roslaunch turtlebot, I get an error sayng /opt/ros/kinetic/share/gmapping/nodelet_plugins.xml not found. This way, when gazebo is loaded there is no /cmd_vel_mux node available.

https://classroom.udacity.com/nanodegrees/nd209-beta/parts/d2337ea3-40a9-4717-af6d-4b6e17c28e3e/modules/e015f3a0-a7a3-44be-9bb9-91054b0e034e/lessons/72cae9de-deae-4579-93da-7e56bd5021fc/concepts/c917ff5b-38ea-47c3-

[2018-02-02 16:48] douglasteeple opened #202 "Lesson 13 Build MCL in C++, Robot Class"
double* sense() is a poor interface. Returning a pointer to a static array is just not great sw design. It is not thread safe, for example. Better to have sense() return a vector of values...

[2018-02-02 16:49] douglasteeple opened #203 "Lesson 11 Kalman Filters step 10, installing rqt_multiplot"
When I enter "sudo apt-get install ros-kinetic-rqt-multiplot" I get the error: "E: Unable to locate package ros-kinetic-rqt-multiplot"...

[2018-02-05 18:14] karimchamaa commented on #203
Which version of VM are you using? And did you run an update with "sudo apt-get udpate"?

[2018-02-05 18:47] douglasteeple commented on #203
Hi Karim,

I am using native on TX2, so I suppose it is not supported. It did seem to be just a bad link though. Yes I did the “sudo apt-get update”

Thanks
Doug

[2018-02-05 22:39] karimchamaa commented on #203
Haven't tested yet on the TX2, I will run a test and get back to you hopefully with a solution. Thanks for reporting the issue!

[2018-02-05 22:48] karimchamaa commented on #201
Thanks for reporting the issue. Try to reload gazebo by following the steps in the instructor notes and do a "rostopic list" to check if "cmd_vel_mux" exists. And also feel free to ask your mentor for any help regarding this

[2018-02-06 03:43] adammalpass commented on #200
@amiltonwong - the supplied data means the Udacity-prepared data.

[2018-02-06 03:44] adammalpass opened #204 "Term2, Project 2, Rubric Update"
As per Slack conversation with @sjuneja, please update this part of the rubric "Display the PoseArray in RViz for the entire duration of the robot’s movements" to make it clear that only the final pose image is needed to be added to the report.

[2018-02-07 18:24] nickheartrobots opened #205 "Numpy ImportError"
Repro steps:
1) Clone RoboND-Python-StarterKit
2) Use: conda env create -f environment.yml
3) After creating new environment
4) Open Jupyter notebook and create a new notebook.
5) Copy and paste arm_config.py code from Robotics Nano degree Lesson 10 Part 4 into the new new Notebook and run.

Expected result:
Cell should run without error
Actual Result:
ImportError:
Importing the multiarray numpy e

[2018-02-07 21:18] #201 closed, assigned to karimchamaa

[2018-02-08 07:18] chedanix opened #206 "Lesson 10: Kalman Filter"
The covariance matrix shown in the video at 1:15 is not technically accurate. The (sigma_x * sigma_y) term is not correct mathematically. I understand this term could just be a symbolic representation of the covariance, but this can lead to confusion for calculation.

[2018-02-08 17:57] #195 closed, assigned to nobody

[2018-02-08 18:16] jchernus commented on #194
I am seeing the solution to both as being,

YZ_intrinsic_sym = R_y * R_z

Is this the case for you?

[2018-02-08 18:27] jchernus commented on #185
Thanks! Udacity is aware of this issue, and a team is working on fixing this.

[2018-02-08 18:27] #185 closed, assigned to nobody

[2018-02-08 21:53] chedanix commented on #206
I forgot to mention the section, which is "13. Multivariant Gaussian"

[2018-02-08 21:59] chedanix opened #207 "Lesson 10: Kalman Filter 15. Design of Multidimensional DF"
It is not correct to refer S in the equation (S = H *P' *H_T + R) as the measurement covariance.

R should be the measurement covariance and (H *P' *H_T) should be the covariance of the prediction after being mapped to the sensor space.

[2018-02-08 22:01] chedanix commented on #207
Therefore S is simply the sum of two different covariance matrices - one from measurement and the other from mapped prediction.

[2018-02-10 04:33] vuvuzella opened #208 "No sound on Gradient Descent Video"
Intro to Neural Networks - 24. Gradient Descent
Video does not have sound as of this posting.

[2018-02-10 13:47] ghost commented on #194
Yes, it's the same for me, and as I understand it, the order of multiplication should be different for extrinsic and intrinsic.

[2018-02-11 07:07] chedanix opened #209 "Lesson11 6. Odometry to Trajectory Package"
In the video at 1:25, an arrow is missing between odom_to_trajectory and Estimated 3D Pose.

[2018-02-12 23:11] karimchamaa commented on #209
Great catch! Will be fixing this and the following videos shortly. Thanks!

[2018-02-13 03:12] sahiljuneja commented on #208
This should be fixed now. Thanks for reporting!

[2018-02-13 03:12] #208 closed, assigned to sahiljuneja

[2018-02-13 03:12] #198 closed, assigned to sahiljuneja

[2018-02-14 23:36] karimchamaa commented on #202
Thanks for reporting this. Just updated it in GitHub to  "vector<double> sense()".
Check it out: https://github.com/udacity/RoboND-MCL-Lab

[2018-02-14 23:36] #202 closed, assigned to karimchamaa

[2018-02-15 05:37] chedanix opened #210 "Lesson13: Build MCL in C++ 9. Resampling Wheel"
Note that my mentor Qiang and people on Slack agree that this is an issue.

Quiz Solution Line 283 p[i] = p3[i]
The above line of code should be removed from the for-loop. If not, p would be modified in every loop and the sampling would be incorrect.
After the for-loop, assign p3 to p. You may use memcpy(p,p3,sizeof(p)) for the assignment.

[2018-02-15 05:38] karimchamaa commented on #210
I thought of memcpy but I can't use it here since I'll need to print the values of p!

[2018-02-15 05:42] chedanix commented on #210
I see. Thanks for fixing the bug

[2018-02-15 05:51] #210 closed, assigned to karimchamaa

[2018-02-15 13:17] ghost opened #211 "Lesson 19.7: Histogram in Action. Quiz returns error even if the solution from the solution tab is input, not for test, only submit"

[2018-02-17 13:36] douglasteeple opened #212 "OverLEAF sharing private writeup with all students"
My OVERLeaf writeup is being shared with all students. Claimed to be fixed, but here is still something wrong. The name in my report keeps changing, even though I am signed in, and I change it back to my name. Also many edits/changes keep disappearing...

[2018-02-18 01:41] gabrcg opened #213 "Project Inference - Lesson 5"
Abstract part begins with 'A abstract', it should be 'An abstract'.

[2018-02-19 21:03] adammalpass opened #214 "EKF lab launch file issue"
I found an error in the packing naming used inside the main launch file. I made a pull request here:
https://github.com/udacity/RoboND-EKFLab/pull/1

[2018-02-20 19:45] karimchamaa commented on #214
The EKFLAb.rviz file is inside the main RoboND-EKF Lab folder and not inside the robot_pose_ekf package! please double check. Thanks.

[2018-02-20 20:14] adammalpass commented on #214
As part of the lab students do not directly use the RoboND-EKF repo. Instead the robot_pose_ekf repo is cloned and the other packages made up during the lab. Only for the main launch file itself does the lab direct to refer to the RoboND-EKF repo instead (as an aside, this is confusing and I only noticed this discrepancy after reading your comment and checking into further - perhaps these can be m

[2018-02-21 01:18] jchernus commented on #207
Great catch! Fixed.

[2018-02-21 01:18] #207 closed, assigned to jchernus

[2018-02-21 03:18] karimchamaa commented on #214
Yeah, you are right, the file should be under src directly as I asked in Concept n8. Thanks for reporting the issue.

[2018-02-21 03:18] #214 closed, assigned to karimchamaa

[2018-02-22 02:03] #212 closed, assigned to haoyang-udacity

[2018-02-22 17:55] streklin opened #215 "Inverse Sensor Model Slide"

[2018-02-22 17:57] karimchamaa commented on #215
Hey, can you provide more details about the issue?

[2018-02-22 17:58] streklin commented on #215
This is a bit of a nitpick, but the letter spacing on the Inverse Sensor model slide should be adjusted.  As it is the slide is very difficult to read correctly as it seems to read "ifr" instead of "if r" (see image).  While this in no way degrades ones ability  to complete the course, it is confusing when reading over the slide until whats really meant "clicks" in.
![SPACING.PNG](https://waffleio

[2018-02-22 18:03] karimchamaa commented on #215
I agree, thanks for reporting this issue. We are currently fixing that and should replace this video soon with the newer version.

[2018-02-22 19:12] chedanix opened #216 "Where am I Project BUG"
The friction coefficients are not set properly for the casters because SDF format was used for defining the friction. But take a look at udacity_bot.xacro, the <SDF> tag is not declared. As a result the caster wheels still have a non-zero default friction coefficient. This leads to bumpy movement or rover not moving in a straight line. I have done experiments on my model, and so I am pretty certai

[2018-02-22 19:13] chedanix commented on #216
I found a way to fix it.
1) remove front and back casters from the "chassis" link.
2) define two links: front caster and back caster
3) define two joints from chassis to casters
4) in udacity_bot.gazebo, add following for each caster
< gazebo reference="xxx_caster" >
  < mu1>0.0< /mu1>
  < mu2>0.0< /mu2>
< /gazebo>

You might be wondering. Instead of doing all the steps above, can we just add the

[2018-02-22 19:18] sahiljuneja commented on #216
Thanks for reporting this. I will cross-check on this soon and update accordingly!

[2018-02-23 08:12] chedanix opened #217 "Where am I Project BUG - Map flickering"
I believe the root cause of map flickering comes from static_transform_publisher in amcl.launch.

Most people, myself included initially, simply tune out the map flickering by increasing the transform_tolerance  parameter under amcl. This parameter post-dates a transform into the future, increasing its validity. Therefore, using it to "cover up" the transform from static_transform_publisher may no

[2018-02-23 08:49] sahiljuneja commented on #217
Yes, as I pointed in the Slack, this might be the cause. Will test this out soon before updating the classroom. Thanks for creating the ticket!

[2018-02-24 16:28] chedanix opened #218 "Where am I Project BUG - random obstacles near robot"
The height of the laser rangefinder is slightly too low, resulting in random detection of the wheels once in a while. This will cause the robot to move around the non-existent obstacle.

Note that this issue has been discussed in Slack.

[2018-02-25 22:20] sahiljuneja commented on #217
Fixed!

[2018-02-25 22:20] #217 closed, assigned to sahiljuneja

[2018-02-27 18:50] thatting opened #219 "Lesson 17 - Grid-based FastSLAM"
I have problems completing sections 17.13 & 17.14 (gmapping with ROS).  I have used the turtlebot_gazebo and turtlebot_teleop packages from lesson 11 (Lab: Kalman Filters). I have completed the necessary steps: 1) Cloned the gmapping package 2) Installed dependencies and built my catkin workspace 3) Launched the nodes of the 3 different packages 4) Run and edited RViz 5) Teleoperated the robot. Ho

[2018-02-27 18:57] karimchamaa commented on #219
I am not sure why you are having that. Seems like a node failed to launch. Did you run an update and upgrade? And did you ever install the OpenCV library yourself on this VM?

[2018-02-28 08:12] thatting commented on #219
I used the VM image provided in Term 1 (VM version 2.1.0 provided in lesson 5 - "Introduction to ROS").  I haven't run any updates or upgrades myself apart from what's instructed in Lessons 11  & 17 in Term 2  (Lesson 11: "Lab: Kalman Filters" and Lesson 17: ""Grid-Based FastSLAM").    Also, I haven't installed openCV on the VM image myself.   The openCV version on the VM image would be what was o

[2018-02-28 17:54] karimchamaa commented on #219
Still not sure why you are facing this problem but run these commands and see if your problem is solved:

sudo apt-get update
sudo apt-get upgrade
sudo apt-get update
cd ~/catkin_ws
source devel/setup.bash
rosdep update
rosdep -i install turtlebot_gazebo
catkin_make
source devel/setup.bash
roslaunch turtlebot_gazebo turtlebot_world.launch world_file:=worlds/willowgarage.world

If this doesn't work

[2018-03-01 17:40] PaulNWms opened #220 "Lesson 13.2: Links to papers from RSEND page are broken"
It looks like 2 of the papers linked to from the RSEND page are no longer available. (?)  At least I am not able to open them:
All  robots are not created equal: The design and perception of humanoid robot heads
By Carl F. Disalvo et. al
Robot  ethics: a view from the philosophy of science
By Guglielmo Tamburrini

https://sites.google.com/knowlabs.com/udacity-robotics-slack/udacity-explores/human-

[2018-03-01 19:44] PaulNWms commented on #220
The link in Lesson 13.4 is also broken.  (Disalvo paper)
But the link in Lesson 13.7 works. (Tamburrini paper)

[2018-03-01 22:07] adammalpass opened #221 "SLAM Lesson 2 - Poor video quality"
In parts 2 (Importance of Mapping) and 17 (Outro) the video is very flickery and the audio quality is poor. Seems something went wrong in the processing of those videos. Other sections are all OK.

[2018-03-01 22:35] jchernus commented on #221
Thanks Adam! We're aware of this problem - just need to get to it :)

[2018-03-02 01:49] reinaldoossuna commented on #54
Hi, i have the same issue.

I checked if the URDF can be converted into a SDF file. font:http://gazebosim.org/tutorials/?tut=ros_urdf
received these errors. if someone is interested in solving  the issue, maybe this is the way.

[2018-03-02 13:09] uliludmann opened #222 "1D gaussian wrong formula"
I think, the formula provided for gaussian calculation is wrong.
https://en.wikipedia.org/wiki/Normal_distribution

Correction: sigma2 should be moved into the sqrt.

[2018-03-02 13:31] ghost commented on #143
I've also come across this problem, but there's one mistake with what @ancabilloni  has written, the actual equation, according to the video in the lesson, should be `alpha * ((signal[i] - signal[i-1])/(t[i] - t[i-1])) + (1 - alpha) * filtered[i-1]` which produces at least as much, if not more, noise than the original signal.

[2018-03-02 19:00] karimchamaa commented on #222
Formula is correct since sqrt(sigma^2) = simga. Thanks

[2018-03-02 19:01] #222 closed, assigned to nobody

[2018-03-05 16:29] thatting opened #223 "Project - Map My World Robot - Setup for Jetson TX2"
I would like to use my Jetson TX2 for the project "Map My World Robot".  I have flashed the board and downloaded JetPack 3.1, as instructed at the beginning of Term 2.  However, I am unable to install ROS and RTAB, as per instructions for this project (section 12 in the project description).  I have followed the instructions step by step, but I encounter errros when I follow these instructions.

T

[2018-03-05 16:35] Things2Connect commented on #223
I've attached the entire log for my installation as well.

[ROS_installation_Jetxon_TX2.log](https://github.com/udacity/robotics-nanodegree-issues/files/1781733/ROS_installation_Jetxon_TX2.log)

[2018-03-05 16:36] Things2Connect commented on #223
I've attached the entire logfile for the project setup as well:

[Logfile_ROS_installation_Jetxon_TX2.txt](https://github.com/udacity/robotics-nanodegree-issues/files/1781737/Logfile_ROS_installation_Jetxon_TX2.txt)

[2018-03-05 16:39] thatting commented on #223
I've attached the entire logfile for the installation as well:

[Logfile_ROS_installation_Jetxon_TX2.txt](https://github.com/udacity/robotics-nanodegree-issues/files/1781742/Logfile_ROS_installation_Jetxon_TX2.txt)

[2018-03-08 08:58] chedanix opened #224 "Typo and Improvement - Lesson 16 (11. Inverse Sensor Model)"
Alpha shown in the picture and video is not correct. After reading Probabilistic Robotics by Thrun, I believe alpha is the range within which the cells will be marked as occupied. Therefore the value of alpha should be about the size of a cell.

Also, please add somewhere in the lecture that  a sonar rangefinder is used for the Inverse Sensor Model. It confused me for a long time because I thought

[2018-03-09 13:11] thatting commented on #223
I've managed to solve these two problems now, and I have completed the installation of ROS & RTAB-Map on my Jetson TX2.

Issue 1:
---------

The fault message looked like this:

**"cannot download default source list https://raw.githubusercontent.com/ros/rosdistro/master/rosdep/sources.list.d/20-default.list
Website may be down"**

This fault prevented command rosdep from working when I tried to r

[2018-03-09 15:38] thatting opened #225 "RTAB-Map does not work on my Jetson TX2"
When I launch the file mapping.launch on my Jetson TX2, the rtab-map process keeps on dying in my terminal.

However, if I run the same robot package on my workspace, I do not get this error and RTAB-Map starts up without failure.  So, it seems to have something to do with my Jetson TX2.  I have followed the instructions for installing ROS & RTAB-Map on my TX2, as per project description.  There w

[2018-03-09 19:04] karimchamaa commented on #224
Thanks for reporting the issues and sorry for the confusion. It's all being fixed in the classroom, please take a look.

[2018-03-09 19:05] #224 closed, assigned to karimchamaa

[2018-03-09 19:05] #219 closed, assigned to karimchamaa

[2018-03-09 19:20] chedanix commented on #224
I just took a look. It hasn't been fixed yet, right?

[2018-03-09 20:23] karimchamaa commented on #224
The picture/video hasn't been fixed, just added the description - summary and mentioned that it's a sonar rangefinder sensor

[2018-03-11 16:13] thatting commented on #225
Also, further comments about this issue.

1) My Jetson TX2 is flashed with Jetpack 3.1 done via an Ubuntu 14.04 host (I folllowed the instructions at the beginning of Term 2)

2)  When I run file mapping.launch on my Jetson TX2 and then in my workspace following difference appear on the TX2 :

 **WARN] (2018-03-11 17:07:19.432) Features2d.cpp:407::create() SURF and SIFT features cannot be used bec

[2018-03-12 18:22] #200 closed, assigned to kylesf

[2018-03-12 18:23] kylesf commented on #187
Moving to workspaces. VM will be deprecated. Thanks for submitting!

[2018-03-12 18:23] #187 closed, assigned to kylesf

[2018-03-12 18:23] #126 closed, assigned to demi180, kylesf

[2018-03-12 18:23] #123 closed, assigned to kylesf

[2018-03-14 08:46] adammalpass opened #226 "Map My World Rubric Typos"
Typos in the final rubric item:
"Such as simualted room or phyically place"
Should be 'simulated' and 'physically'.

[2018-03-17 14:20] adammalpass opened #227 "Some lessons still suggest to contact Live Help"
E.g:
https://classroom.udacity.com/nanodegrees/nd209-beta/parts/f491093d-8e67-4eab-8102-87bae095ca79/modules/0573f9ff-2e23-48cd-87d0-af24d758348a/lessons/ef841d31-8c53-49b3-8da3-a9d1523adef0/concepts/e4a704e8-9490-4aff-b478-85e3f29fd4b5

[2018-03-19 22:21] jeremyolsen opened #228 "Spelling error in video"
Lesson 16 Section 11

The highlighted psudo code contains a mis-spelling of the word Inverse_Sensor_Model at time :31.  Missing the letter 'v' in the word Inverse

[2018-03-19 22:23] jeremyolsen commented on #228
![getimage](https://user-images.githubusercontent.com/503898/37625519-7b0d6c12-2b89-11e8-8dfb-d9ac1a5017cd.png)

[2018-03-20 21:37] haoyang-udacity commented on #226
Fixed!

[2018-03-20 21:37] #226 closed, assigned to haoyang-udacity

[2018-03-20 21:41] haoyang-udacity commented on #227
Need to go through all quizzes. This one fixed though.

[2018-03-20 21:41] #227 closed, assigned to nobody

[2018-03-20 21:44] #138 closed, assigned to nobody

[2018-03-20 21:46] #141 closed, assigned to sahiljuneja

[2018-03-20 21:53] #159 closed, assigned to haoyang-udacity

[2018-03-20 21:55] haoyang-udacity commented on #165
The first one is as defined in the URDF file.

[2018-03-20 21:55] #165 closed, assigned to nobody

[2018-03-20 21:56] #166 closed, assigned to nobody

[2018-03-20 21:57] #181 closed, assigned to sahiljuneja

[2018-03-20 21:58] #196 closed, assigned to nobody

[2018-03-20 21:59] haoyang-udacity commented on #213
Thanks, fixed!

[2018-03-20 21:59] #213 closed, assigned to nobody

[2018-03-20 22:11] haoyang-udacity commented on #220
Fixed, thank you for the input!

[2018-03-20 22:11] #220 closed, assigned to haoyang-udacity

[2018-03-25 13:12] thatting opened #229 "Lesson 23: Deep RL"
In Lesson 23 (Deep RL) Section 5 (Experience Replay) the link does not work for following reference:

Long-Ji Lin, 1993. Reinforcement learning for robots using neural networks

[2018-03-25 13:17] sahiljuneja commented on #229
Should be working now. Thanks!

[2018-03-25 13:17] #229 closed, assigned to sahiljuneja

[2018-03-26 18:40] thatting opened #230 "Lesson 22: Q-Learning Lab"
In lesson 22 (Q-Learning Lab) section 5 (Q-Learning Notebook):

There is a missing/undisplayed diagram about halfway down the Q-Learning Notebook.

It should appear after following text:

"4. Traditional RL = Q-learning

Q-learning is one of the most popular approaches in reinforcement learning, to determine which action is optimal on each state.

At each time step tt, after taking an action atat

[2018-03-26 19:18] martinsuchen35 opened #231 "Lesson 19 Lecture 12 SVM Image Classification, the code images = glob.glob('*.jpeg'), can Udacity provide downloadable link for those images?"

[2018-03-27 12:40] lwohlhart opened #232 "Lesson 23: Introduction to Controls - 22. Putting It All Together"
If I'm not mistaken the provided solution.py incorrectly implements the smoothing of the error derivative

[code]
this implementation alpha-interpolates between the current error-derivative and the previous error value (instead of the previous error derivative)

we would need something like:
[code]

[2018-03-28 20:04] cpowell opened #233 "Please make Jupyter notebook data and assets for RL labs available for home use"
These work great in the online workspace, but it'd be nice to have them for outside the lab.

[2018-03-29 22:14] delvingdeep opened #234 "Term 1, 6.2.2: Active Sensors Typo"
There seems to be minor typo in Concept 6: Perception, Module 2: Introduction to 3D Perception and Lesson 2: `Active sensor`.

The first table is about difference between Active and Passive sensors; but the Table heading are does not match.

The Heading should be `Passive Sensors` instead of `Passive Sensing` or the either way `Active
Sensing` and not `Active Sensors`.

[2018-03-29 22:14] delvingdeep commented on #234
![Screen Shot 2018-03-29 at 6.11.56 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59152178d5571c0020cf1e52/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77206456fa6b7191a37ef1132a4f5a595ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a19141c95df449e24b54a2143263e0712431.png)

[2018-03-30 19:25] harishbalasub opened #235 "Perception: python-pcl does not compile with pcl 1.8.1"
python-pcl provided in repository doesnt work with pcl 1.8.1 and works only with 1.7.2 (according to slack forum). The archive pcl 1.7.2 gives compilation errors and the forum advise is to upgrade to pcl 1.8.1 . Need python-pcl to work with pcl 1.8.1

[2018-04-07 05:35] yycho0108 opened #236 "Term 1 Perception Project Issues"
1. When grasping the object, it either doesn't wait long enough or close sufficiently to grab the objects. Because of this, the student has to manually click "Next" at each step, always unsure of whether or not the robot finished, or will ever finish, grasping the object. It would be nice if it ran smoothly when using "Continue"

2. When planning the trajectory, sometimes the produced trajectory w

[2018-04-07 06:05] yycho0108 commented on #176
I was also noticing the same thing, and I believe it is actually an issue with capture_sample().
The below gif is captured on rviz, showing the point cloud:

![out](https://user-images.githubusercontent.com/14655667/38451965-dcf5836a-3a07-11e8-82f9-3beaf1264e81.gif)

When the point cloud is loaded, it appears to undergo a brief period where the colors are grayed out for some reason. When I looked

[2018-04-13 10:27] sonelu opened #237 "Term 1, Lesson 24: Simulator not responding to cmd_force messages"

[2018-04-13 10:54] sonelu commented on #237
Hello,

I am experiencing some errors with the quad simulator for the lab in lesson 24 of term 1 (Quadrotor Control Using PID).

My environment is MacOS 10.13.04 (High Siera) and I run the VM in VirtualBox using a clean installation of Ubuntu 16.04 and ROS. I have been using this setting for Project 1 and 2 of the term without any problems.

The VM is setup in Bridge mode for network so that the g

[2018-04-13 11:07] sonelu commented on #237
I have to add that the behaviour is the same (no moving) for any values of the message values (ex. with Kp set at 100 and requesting force Z of 1000.0). In all cases the values reported in the simulator window for the force are all 0.0:
![Screen Shot 2018-04-12 at 16.29.40.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5ad085a70d60bc001229db94/125516c66e82c728ace21e0d46db

[2018-04-13 17:33] haoyang-udacity opened #238 "Kalman Filter - vector and scalar"
In the  Kalman Filter part, is there any way to use different forms to differentiate the vector with the scalar? It is very confusing when they are using the same form. For example, it would be better to differentiate vector x with scalar x using different forms.

[2018-04-15 22:51] haoyang-udacity opened #239 "Evaluate command accuracy very low"
Confusion matrix for both validation and train set show near 100% accuracy.   Why does `evaluate` show only 75%?
Anybody notice that running the supplied data under DIGITS, the validation accuracy can be 100%, but the evaluate command shows the training set accuracy around 75%.  That seems very odd to me, since the validation set should be more or less representative of the data.

[2018-04-18 09:56] sonelu commented on #237
Gents, is anyone looking at these issues?

Thanks,

Alex.

[2018-04-23 00:03] BrianCJohnson opened #240 "Lesson 19.7, truth value of an array with more than one element is ambiguous"
in Lesson 19.7: “Histograms in Action" the test run works fine but when I submit I get: "Oops, looks like you got an error! The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"

I have a feeling that somewhere in the code checking the function, the grading code is doing something like a `if norm_features ...`
Another person had reported this on slack as well

[2018-04-25 16:01] Olcina opened #241 "Map my world Troubleshooting update"
In the project 3 of the second term point 12. Would be very nice to add the following link as one of the possible solution to the problem "RGB-D point cloud appears to be pointing up" the other solutions are far way more complicated and this worked for my when setting up the project in the JetsonTX2.

https://answers.ros.org/question/232534/gazebo-camera-frame-is-inconsistent-with-rviz-opencv-conv

[2018-04-26 17:27] #193 closed, assigned to nobody

[2018-04-26 17:30] #139 closed, assigned to sahiljuneja

[2018-04-26 17:32] #157 closed, assigned to nobody

[2018-04-26 17:36] sahiljuneja commented on #161
Closing because of no updates. If this was not resolved then we can reopen this.

[2018-04-26 17:36] #161 closed, assigned to sahiljuneja

[2018-04-26 17:36] sahiljuneja commented on #139
A correction note was provided a while ago. Thanks for reporting!

[2018-04-26 17:46] #169 closed, assigned to nobody

[2018-04-26 17:46] #171 closed, assigned to nobody

[2018-04-26 17:47] #191 closed, assigned to nobody

[2018-04-26 19:25] #134 closed, assigned to sahiljuneja

[2018-04-26 21:10] #128 closed, assigned to nobody

[2018-04-26 21:13] #189 closed, assigned to nobody

[2018-04-26 21:14] karimchamaa commented on #225
Are you still getting errors?

[2018-04-26 21:16] karimchamaa commented on #223
It seems like you didn't install rosdep when installing ROS.

[2018-04-28 12:09] JafarAbdi opened #242 "April Cohort's Deadline calendar is missing from Lesson 1:6 Class Schedule"

[2018-04-28 14:48] danmoldovan opened #243 "#udacity_map_my_world: kitchen_dining.world produces no laser rangefinder data"
There seem to be no collidable objects and I can drive the robot through everything. This blocks my project submission as I can't generate an occupancy map for that env.

[2018-04-29 00:49] douglasteeple opened #244 "Term 2, Robotics Software Engineer Nanodegree Program, Lesson 27: Lab: Path Planning"
The output window in this whole lesson on MacOSX Sierra, Safari, shows a very narrow and unreadable x size. I have a screen shot but don't know how to attach it...

[2018-04-29 00:50] douglasteeple commented on #244
![Screen Shot 2018-04-28 at 2.44.02 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a74954151908b00113c758c/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77276456fb6b7191a37af1162f4f5f5d5ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a19e41c95df44fe84b56a4123060e7762431.png)

[2018-04-30 20:50] karimchamaa commented on #244
![Screen Shot 2018-04-30 at 1.50.01 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59efda092b78160011a98ec6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77276457f36b7191a379f1172b4f5f5e5ecc3c4a4356bcbbd671f3e57862804e0ee4d36e5b20ce3410f8bc821cbb01ba29894fd7b5e9834ed2f42f67b6d5db1063474f4dcbed5727a19e41c95df44ee04f54a0103760e6762431.png)

[2018-04-30 20:51] karimchamaa commented on #244
I just tried it on a MacOSX Sierra Safari browser and it's working fine! Maybe deleting cache and cookies will solve your problem.

[2018-05-01 16:11] #204 closed, assigned to sahiljuneja

[2018-05-01 16:47] #205 closed, assigned to sahiljuneja

[2018-05-01 17:44] #136 closed, assigned to sahiljuneja

[2018-05-01 17:45] #203 closed, assigned to karimchamaa

[2018-05-01 17:50] #113 closed, assigned to nobody

[2018-05-01 17:51] #112 closed, assigned to nobody

[2018-05-01 17:51] #133 closed, assigned to nobody

[2018-05-01 17:53] jessluls commented on #142
This is on our roadmap to fix - thanks for the suggestion!

[2018-05-01 17:53] #142 closed, assigned to nobody

[2018-05-01 18:10] #242 closed, assigned to haoyang-udacity

[2018-05-01 22:43] #228 closed, assigned to karimchamaa

[2018-05-02 20:08] #223 closed, assigned to karimchamaa

[2018-05-02 20:08] #244 closed, assigned to karimchamaa

[2018-05-02 20:08] #225 closed, assigned to karimchamaa

[2018-05-03 19:52] #183 closed, assigned to nobody

[2018-05-03 19:53] #197 closed, assigned to nobody

[2018-05-03 19:55] #211 closed, assigned to nobody

[2018-05-03 20:06] jessluls commented on #164
thanks for the feedback - we'll look into it!

[2018-05-03 20:06] #163 closed, assigned to nobody

[2018-05-03 20:18] jessluls commented on #237
We're looking to move this into an online platform in the classroom so this shouldn't be an issue once that happens. Thank you for flagging this.

[2018-05-03 20:18] #237 closed, assigned to nobody

[2018-05-03 20:19] #239 closed, assigned to haoyang-udacity

[2018-05-03 21:10] danainschool commented on #230
Thank you - the equation was missing but has been restored.

[2018-05-03 21:10] #230 closed, assigned to danainschool

[2018-05-03 21:22] danainschool commented on #233
Thank you for your comment.  The notebooks and images can be downloaded directly from the workspace for use in another environment. To get to the file list, choose <File><Open...> from the notebook.  Select any file to see the command selections.  If it is a running notebook, first click <Shutdown>, then a new set of commands will appear in the menu for the selected file including <Download>.  Fil

[2018-05-03 21:22] #233 closed, assigned to danainschool

[2018-05-03 21:33] danainschool commented on #164
part of DL content and not a bug - will let them update as needed.

[2018-05-03 21:33] #164 closed, assigned to danainschool

[2018-05-03 21:49] karimchamaa commented on #221
Forwarded to production team!

[2018-05-03 21:58] karimchamaa commented on #209
Forwarded the issue to production.

[2018-05-03 21:59] karimchamaa commented on #243
Have you solved this issue?

[2018-05-16 05:46] jemdiggity opened #245 "May 2018 cohort calendar"
There isn't a calendar yet in lesson 1 => Class Schedule

[2018-05-17 19:43] ghost opened #246 "Term1 Lesson 23 Introduction to controls"
In the file open_controller.py are all variables i.e. self.start_time = start.time commented as a class variables but it is an instance variable.

best regards
Danny Kirchner

[2018-05-25 00:22] #216 closed, assigned to sahiljuneja

[2018-05-25 00:27] sahiljuneja commented on #234
Fixed. Thanks!

[2018-05-25 00:28] #234 closed, assigned to sahiljuneja

[2018-05-25 00:31] #135 closed, assigned to sahiljuneja

[2018-05-28 21:13] sahiljuneja commented on #231
Thanks for the suggestion. Added links to the datasets after the quiz.

[2018-05-28 21:13] #231 closed, assigned to sahiljuneja

[2018-05-28 21:21] sahiljuneja commented on #190
Fixed, thanks!

[2018-05-28 21:21] #190 closed, assigned to sahiljuneja

[2018-05-28 21:27] #145 closed, assigned to sahiljuneja

[2018-05-28 21:42] #144 closed, assigned to sahiljuneja

[2018-05-28 23:33] sahiljuneja commented on #218
Thanks! Haven't yet noticed this in some of the runs I tried. But for now have provided students with suggestion on what to do if the above crops up.

[2018-05-28 23:33] #218 closed, assigned to sahiljuneja

[2018-05-28 23:43] sahiljuneja commented on #194
A late response, so I'm hoping you got this clarified somewhere else. But regardless -

The text above the quiz mentions

As per the video, intrinsic rotations are post-multiplied. So , the order of multiplication would be Ry*Rz for the first one (because first rotation is about Y).

Extrinsic rotations are pre-multiplied. So, order of multiplication would be Ry*Rz (because first rotation is about

[2018-05-28 23:44] #194 closed, assigned to sahiljuneja

[2018-06-04 22:23] #243 closed, assigned to karimchamaa, haoyang-udacity

[2018-06-04 22:56] #209 closed, assigned to karimchamaa

[2018-06-05 18:20] #215 closed, assigned to karimchamaa

[2018-06-05 18:25] #206 closed, assigned to karimchamaa

[2018-06-07 14:10] zenetio opened #247 "Deep RL Arm, L03, Position control"
The lesson says "variable joint based on current joint velocity" when it should be "current joint position".
It seems to be a copy/paste issue.

https://classroom.udacity.com/nanodegrees/nd209-beta/parts/679e3996-ccf1-470e-a5a5-e250a727db71/modules/525031e0-8d9e-4b63-b65d-451793011844/lessons/fbb5fcb9-ac41-429f-9549-70aee725d7a0/concepts/undefined